Repository reactjs/react.dev, pull requests merged in 2020-03, with the labels that each got.

#2792 added ReactJS Istanbul
  content/community/meetups.md
Labels: CLA Signed

#2796 fixed the bracket
  content/community/meetups.md
Labels: CLA Signed

#2804 Update rendering-elements.md
  content/docs/rendering-elements.md
Labels: CLA Signed

#2810 Add shouldComponentUpdate to list of methods double called in Strict Mode
  content/docs/strict-mode.md
Labels: CLA Signed, react core team

#2811 fix test renderer's act() example
  content/docs/reference-test-renderer.md
Labels: CLA Signed, react core team

#2816 Move past conferences to bottom of page
  content/community/conferences.md
Labels: CLA Signed

#2764 s/'a myriad of'/'myriad'
  content/blog/2019-10-22-react-release-channels.md
Labels: CLA Signed

#2808 Added Pune (India) Meetup Community
  content/community/meetups.md
Labels: CLA Signed

#2818 Move Hungarian to in progress
  content/languages.yml
Labels: CLA Signed

#2813 fix: extract instantiation of Remarkable
  content/home/examples/a-component-using-external-plugins.js
Labels: CLA Signed

#2806 update hooks-faq.md
  content/docs/hooks-faq.md
Labels: CLA Signed

#2787 Add link to download node.js in Create React App
  content/docs/create-a-new-react-app.md
Labels: CLA Signed

#2759 added stackblitz to playground
  content/docs/getting-started.md
Labels: CLA Signed

#2820 Revert "added stackblitz to playground"
  content/docs/getting-started.md
Labels: CLA Signed, react core team

#2745 Fix og:image
  src/components/TitleAndMetaTags/TitleAndMetaTags.js
Labels: CLA Signed

#2742 adding next section url path
  content/docs/introducing-jsx.md
Labels: CLA Signed

#2649 Fix typo in hooks-faq.md
  content/docs/hooks-faq.md
Labels: CLA Signed

#2608 Typo fix in the suspense for data fetching page
  content/docs/concurrent-mode-suspense.md
Labels: CLA Signed

#2601 Update components-and-props.md
  content/docs/components-and-props.md
Labels: CLA Signed

#2533 Fix small typo in concurrent-mode-reference.md
  content/docs/concurrent-mode-reference.md
Labels: CLA Signed

#2547 Update components docs for functional components
  content/docs/components-and-props.md
Labels: CLA Signed

#2531 Fix small typo in concurrent-mode-adoption.md
  content/docs/concurrent-mode-adoption.md
Labels: CLA Signed

#2509 Docs: Add missing code in testing-recipes.md
  content/docs/testing-recipes.md
Labels: CLA Signed

#2495 Update concurrent-mode-suspense.md
  content/docs/concurrent-mode-suspense.md
Labels: CLA Signed

#2479 add missing word
  content/docs/reference-profiler.md
Labels: CLA Signed

#2459 Updated sentence grammar.
  content/tutorial/tutorial.md
Labels: CLA Signed

#2433 Fix typo on React 16 Roadmap page
  content/blog/2018-11-27-react-16-roadmap.md
Labels: CLA Signed

#2435 Update legacy lifecycle methods
  content/docs/higher-order-components.md
Labels: CLA Signed

#2398 Update README.md (improve usability)
  README.md
Labels: CLA Signed

#2395 Fix Typo in Lifting State Up Docs
  content/docs/lifting-state-up.md
Labels: CLA Signed

#2349 fix broken link to babel repl on jsx-compiler page
  src/pages/jsx-compiler.html.js
Labels: CLA Signed

#2304 Documentation correction
  content/docs/hooks-faq.md
Labels: CLA Signed

#2301 Doc error
  content/docs/hooks-faq.md
Labels: CLA Signed

#2274 Add reference to persist to SyntheticEvent's API
  content/docs/reference-events.md
Labels: CLA Signed

#2260 Handling Multiple Inputs
  content/docs/forms.md
Labels: CLA Signed

#2229 Link to relevant forwardRef docs
  content/docs/hooks-reference.md
Labels: CLA Signed

#2164 Moved a bracket in the setState function example
  content/docs/reference-react-component.md
Labels: CLA Signed

#2123 [docs] Add missing events to docs/events page
  content/docs/reference-events.md
Labels: CLA Signed

#2091 animation plugin moved
  content/docs/addons-animation.md
Labels: CLA Signed

#2075 Changed what a component compiles to.
  content/docs/jsx-in-depth.md
Labels: CLA Signed

#2072 Fix ref creation in CustomTextInput component
  content/docs/refs-and-the-dom.md
Labels: CLA Signed

#2045 Improve grammar
  content/blog/2015-12-18-react-components-elements-and-instances.md
Labels: CLA Signed

#1991 Update getting-started.md
  content/docs/getting-started.md
Labels: CLA Signed

#1979 drop unused React import for hooks example
  content/docs/hooks-custom.md
Labels: CLA Signed

#1972 Update code-splitting.md
  content/docs/code-splitting.md
Labels: CLA Signed

#1940 Removed unnecessary wrapper component
  content/docs/render-props.md
Labels: CLA Signed

#1861 add suffix / to example url
  content/docs/hooks-faq.md
Labels: CLA Signed

#1833 Fix tiny typo in is-react-translated-yet blog post
  content/blog/2019-02-23-is-react-translated-yet.md
Labels: CLA Signed

#1806 remove a reference to fbjs from codebase overview
  content/docs/codebase-overview.md
Labels: CLA Signed

#1781 Remove implicit boolean conversion from homepage example
  content/home/examples/an-application.js
Labels: CLA Signed

#1542 Remove event param from arrow function example
  content/docs/handling-events.md
Labels: CLA Signed

#1297 apostrophe added to "Facebooks" to show possession
  content/blog/2013-06-19-community-roundup-2.md
Labels: CLA Signed

#1175 Update conditional-rendering.md
  content/docs/conditional-rendering.md
Labels: CLA Signed

#1173 Update 2018-06-07-you-probably-dont-need-derived-state.md
  content/blog/2018-06-07-you-probably-dont-need-derived-state.md
Labels: CLA Signed

#1129 Use const for ref in functional component docs
  content/docs/refs-and-the-dom.md
Labels: CLA Signed

#1043 Minor grammar edit (syntactic -> syntactical).
  content/docs/handling-events.md
Labels: CLA Signed

#987 docs(render-props): examples improvement suggestion
  content/docs/render-props.md
Labels: CLA Signed

#900 Legend Color Label
  content/docs/thinking-in-react.md
Labels: CLA Signed

#495 Clarify preferred "props default to true" expr
  content/docs/jsx-in-depth.md
Labels: CLA Signed

#2762 Make React.memo documentation more clear
  content/docs/reference-react.md
Labels: CLA Signed

#2824 Updated React and React Native links
  content/blog/2015-03-26-introducing-react-native.md
  content/blog/2015-05-01-graphql-introduction.md
  content/blog/2018-11-13-react-conf-recap.md
  content/blog/2019-08-08-react-v16.9.0.md
  content/docs/codebase-overview.md
  content/docs/design-principles.md
  content/docs/hooks-faq.md
  content/docs/hooks-intro.md
  content/footerNav.yml
  content/home/marketing/learn-once-write-anywhere.md
Labels: CLA Signed

#2836 Updated dates for Render-Atlanta 2020
  content/community/conferences.md
Labels: CLA Signed

#2839 ReactConf Japan 2020 is cancelled due to COVID-19
  content/community/conferences.md
Labels: CLA Signed

#2835 Reorganize information about the plugin
  content/docs/hooks-rules.md
Labels: CLA Signed

#2837 Fix node version in readme
  README.md
Labels: CLA Signed

#2845 Update for 16.13.1
  content/versions.yml
  package.json
  src/site-constants.js
  yarn.lock
Labels: CLA Signed, react core team

#2860 Updated the conferences
  content/community/conferences.md
Labels: CLA Signed

#2870 Update outdated URL in code-splitting.md
  content/docs/code-splitting.md
Labels: CLA Signed

#2515 Explain how StrictMode affects function components and hooks
  content/docs/strict-mode.md
Labels: CLA Signed

#2873 Fix incorrect highlighting in uncontrolled components example
  examples/uncontrolled-components/input-type-file.js
Labels: CLA Signed

#2803 Add ajax with hooks example
  content/docs/faq-ajax.md
Labels: CLA Signed, type: example
