Repository reactjs/react.dev, pull requests merged in 2020-04, with the labels that each got.

#2875 Remove misleading example in Forms
  content/docs/forms.md
Labels: CLA Signed, react core team

#2885 Link fix
  content/community/courses.md
Labels: CLA Signed

#2887 Remove Sunil from team page
  content/community/team.md
Labels: CLA Signed, react core team

#1399 react tutorial solutions added to examples page
  content/community/examples.md
Labels: CLA Signed, type: example

#2559 Update examples.md with React Image Compressor
  content/community/examples.md
Labels: CLA Signed, type: example

#1912 My small react counter application added
  content/community/examples.md
Labels: CLA Signed, type: example

#481 Add awesomereact.com to external resources
  content/community/external-resources.md
Labels: CLA Signed, type: example

#2899 Update React Summit, React Advanced, React Day Berlin
  content/community/conferences.md
Labels: CLA Signed

#2906 update the status of Persian and Hungarian translation ..
  content/languages.yml
Labels: CLA Signed
