Repository reactjs/react.dev, pull requests merged in 2021-11, with the labels that each got.

#4028 Add React Conf to the Conferences page
  content/community/conferences.md
Labels: CLA Signed

#4030 [Beta] Misc edits to Managing State text and examples
  beta/src/pages/learn/choosing-the-state-structure.md
  beta/src/pages/learn/extracting-state-logic-into-a-reducer.md
  beta/src/pages/learn/index.md
  beta/src/pages/learn/managing-state.md
  beta/src/pages/learn/passing-data-deeply-with-context.md
  beta/src/pages/learn/preserving-and-resetting-state.md
  beta/src/pages/learn/reacting-to-input-with-state.md
  beta/src/pages/learn/scaling-up-with-reducer-and-context.md
  beta/src/pages/learn/sharing-state-between-components.md
Labels: CLA Signed, react core team

#4034 [beta] fix(sandpack): do not translate code blocks
  beta/package.json
  beta/yarn.lock
Labels: CLA Signed

#4024 Fix case-sensitive search term in example.
  beta/src/pages/learn/thinking-in-react.md
Labels: CLA Signed

#4026 Fixed typo: added 'are'
  content/tutorial/tutorial.md
Labels: CLA Signed

#4036 [Beta] Add bundle analyzer
  beta/next.config.js
  beta/package.json
  beta/yarn.lock
Labels: CLA Signed, react core team

#4037 Bump to Next 12
  beta/next.config.js
  beta/package.json
  beta/yarn.lock
Labels: CLA Signed, react core team

#4038 Fix horizontal scrollbar on desktop
  beta/src/components/Layout/MarkdownPage.tsx
  beta/src/components/Layout/Page.tsx
Labels: CLA Signed, beta

#4022 Take system's theme for the beta site
  beta/src/components/Layout/Nav/Nav.tsx
  beta/src/pages/_document.tsx
Labels: CLA Signed

#4019 [Beta] Dark more tweaks
  beta/colors.js
  beta/src/components/MDX/CodeBlock/CodeBlock.module.css
  beta/src/components/MDX/CodeBlock/CodeBlock.tsx
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
  beta/src/components/MDX/Sandpack/Themes.tsx
  beta/src/styles/sandpack.css
Labels: CLA Signed, react core team

#4039 Add linefeed in the mdx and handle it
  beta/src/components/MDX/TerminalBlock.tsx
Labels: CLA Signed

#4042 Fix typos
  beta/src/pages/learn/referencing-values-with-refs.md
Labels: CLA Signed

#4045 [beta] sandpack: cmd+backspace to remove entire line
  beta/yarn.lock
Labels: CLA Signed

#4046 Revert "[beta] sandpack: cmd+backspace to remove entire line"
  beta/yarn.lock
Labels: CLA Signed

#4044 Hide navigation for one challenge and recipes
  beta/src/components/MDX/Challenges/Challenges.tsx
Labels: CLA Signed

#4050 Remove invalid crossorigin attribute
  beta/src/components/Search.tsx
Labels: CLA Signed, beta

#4051 Remove empty id attribute for h1 element
  beta/src/components/PageHeading.tsx
Labels: CLA Signed, beta

#4052 Only show sidebar scrollbars when needed
  beta/src/components/Layout/Page.tsx
  beta/src/styles/index.css
Labels: CLA Signed, react core team

#4057 Fix scroll to last scroll position after close modal search
  beta/src/components/Search.tsx
Labels: CLA Signed, beta

#4055 Adjust code line numbers background
  beta/src/styles/sandpack.css
Labels: CLA Signed, beta

#4056 Restore scroll after 'show less'
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
Labels: CLA Signed, react core team

#4060 Fix bundle analyzer workflow
  .github/workflows/nextjs_bundle_analysis.yml
Labels: CLA Signed, react core team

#4070 edit sandpack style overrides to also cover 'dirty' case
  beta/src/styles/sandpack.css
Labels: CLA Signed, beta

#4072 Fix alternative solution to add and remove a CSS class (#4027)
  beta/src/pages/learn/reacting-to-input-with-state.md
Labels: CLA Signed, beta

#4075 fix(sandpack): upgrade dependencies
  beta/package.json
  beta/src/styles/sandpack.css
  beta/yarn.lock
Labels: CLA Signed, beta

#4076 Update to latest conferences
  content/community/conferences.md
Labels: CLA Signed

#4077 Update wrong sentence
  beta/src/pages/learn/updating-arrays-in-state.md
Labels: CLA Signed, beta

#4074 Fixes wrong breadcrumb for 404 page
  beta/plugins/md-layout-loader.js
  beta/src/components/Layout/useRouteMeta.tsx
  beta/src/pages/learn/add-react-to-a-website.md
  beta/src/pages/learn/adding-interactivity.md
  beta/src/pages/learn/choosing-the-state-structure.md
  beta/src/pages/learn/conditional-rendering.md
  beta/src/pages/learn/describing-the-ui.md
  beta/src/pages/learn/editor-setup.md
  beta/src/pages/learn/escape-hatches.md
  beta/src/pages/learn/extracting-state-logic-into-a-reducer.md
  beta/src/pages/learn/importing-and-exporting-components.md
  beta/src/pages/learn/index.md
  beta/src/pages/learn/installation.md
  beta/src/pages/learn/javascript-in-jsx-with-curly-braces.md
  beta/src/pages/learn/keeping-components-pure.md
  beta/src/pages/learn/managing-state.md
  beta/src/pages/learn/manipulating-the-dom-with-refs.md
  beta/src/pages/learn/passing-data-deeply-with-context.md
  beta/src/pages/learn/passing-props-to-a-component.md
  beta/src/pages/learn/preserving-and-resetting-state.md
  beta/src/pages/learn/queueing-a-series-of-state-updates.md
  beta/src/pages/learn/react-developer-tools.md
  beta/src/pages/learn/reacting-to-input-with-state.md
  beta/src/pages/learn/referencing-values-with-refs.md
  beta/src/pages/learn/render-and-commit.md
  beta/src/pages/learn/rendering-lists.md
  beta/src/pages/learn/responding-to-events.md
  beta/src/pages/learn/scaling-up-with-reducer-and-context.md
  beta/src/pages/learn/sharing-state-between-components.md
  beta/src/pages/learn/start-a-new-react-project.md
  beta/src/pages/learn/state-a-components-memory.md
  beta/src/pages/learn/state-as-a-snapshot.md
  beta/src/pages/learn/thinking-in-react.md
  beta/src/pages/learn/updating-arrays-in-state.md
  beta/src/pages/learn/updating-objects-in-state.md
  beta/src/pages/learn/writing-markup-with-jsx.md
  beta/src/pages/learn/your-first-component.md
Labels: CLA Signed, beta

#4043 Add git hook to generate headings ids
  beta/.husky/pre-commit
  beta/package.json
  beta/src/pages/community/acknowledgements.md
  beta/src/pages/community/index.md
  beta/src/pages/community/meet-the-team.md
  beta/src/pages/index.md
  beta/src/pages/learn/add-react-to-a-website.md
  beta/src/pages/learn/adding-interactivity.md
  beta/src/pages/learn/choosing-the-state-structure.md
  beta/src/pages/learn/conditional-rendering.md
  beta/src/pages/learn/describing-the-ui.md
  beta/src/pages/learn/editor-setup.md
  beta/src/pages/learn/extracting-state-logic-into-a-reducer.md
  beta/src/pages/learn/importing-and-exporting-components.md
  beta/src/pages/learn/index.md
  beta/src/pages/learn/installation.md
  beta/src/pages/learn/javascript-in-jsx-with-curly-braces.md
  beta/src/pages/learn/keeping-components-pure.md
  beta/src/pages/learn/managing-state.md
  beta/src/pages/learn/manipulating-the-dom-with-refs.md
  beta/src/pages/learn/passing-data-deeply-with-context.md
  beta/src/pages/learn/passing-props-to-a-component.md
  beta/src/pages/learn/preserving-and-resetting-state.md
  beta/src/pages/learn/queueing-a-series-of-state-updates.md
  beta/src/pages/learn/react-developer-tools.md
  beta/src/pages/learn/reacting-to-input-with-state.md
  beta/src/pages/learn/referencing-values-with-refs.md
  beta/src/pages/learn/render-and-commit.md
  beta/src/pages/learn/rendering-lists.md
  beta/src/pages/learn/responding-to-events.md
  beta/src/pages/learn/scaling-up-with-reducer-and-context.md
  beta/src/pages/learn/sharing-state-between-components.md
  beta/src/pages/learn/start-a-new-react-project.md
  beta/src/pages/learn/state-a-components-memory.md
  beta/src/pages/learn/state-as-a-snapshot.md
  beta/src/pages/learn/thinking-in-react.md
  beta/src/pages/learn/updating-arrays-in-state.md
  beta/src/pages/learn/updating-objects-in-state.md
  beta/src/pages/learn/writing-markup-with-jsx.md
  beta/src/pages/learn/your-first-component.md
  beta/src/pages/reference/index.md
  beta/src/pages/reference/reactdom.md
  beta/src/pages/reference/render.md
  beta/src/pages/reference/usestate.md
  beta/yarn.lock
Labels: CLA Signed, beta

#4083 Remove unwanted dependency
  beta/package.json
  beta/yarn.lock
Labels: CLA Signed, beta

#4086 Add support for Unicode chars when detecting headings IDs
  beta/plugins/remark-header-custom-ids.js
Labels: CLA Signed, beta

#4082 Allow page zooming/scaling
  beta/src/components/Seo.tsx
  beta/src/styles/sandpack.css
Labels: CLA Signed, beta

#4089 Enable dark mode in browser UI
  beta/src/styles/index.css
  beta/src/styles/sandpack.css
Labels: CLA Signed, beta

#4091 Typo fixes
  beta/src/pages/learn/referencing-values-with-refs.md
  beta/src/pages/learn/rendering-lists.md
  beta/src/pages/learn/responding-to-events.md
  beta/src/pages/learn/state-a-components-memory.md
Labels: CLA Signed, beta

#4092 Update algolia.css
  beta/src/styles/algolia.css
Labels: CLA Signed, beta

#4094 Stop zooming for search input
  beta/src/styles/sandpack.css
Labels: CLA Signed, beta

#4087 Fixing Eslint configuration
  beta/.eslintrc
  beta/.husky/pre-commit
  beta/package.json
  beta/src/components/Layout/Nav/NavButtonLink.tsx
  beta/src/components/MDX/CodeBlock/CodeBlock.tsx
  beta/src/components/MDX/Link.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/tsconfig.json
  beta/yarn.lock
Labels: CLA Signed, beta

#4100 Fix prettier CI and add it to pre commit
  .github/workflows/beta_site_lint.yml
  beta/.husky/pre-commit
  beta/.prettierrc
  beta/plugins/remark-header-custom-ids.js
  beta/src/components/Button.tsx
  beta/src/components/Layout/Nav/MobileNav.tsx
  beta/src/components/Layout/Nav/NavLink.tsx
  beta/src/components/Layout/Sidebar/SidebarLink.tsx
  beta/src/components/MDX/CodeBlock/CodeBlock.tsx
  beta/src/components/MDX/ExpandableExample.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/components/Seo.tsx
  beta/src/utils/forwardRefWithAs.tsx
Labels: CLA Signed, beta

#4109 Update React 18 post for beta
  content/blog/2021-06-08-the-plan-for-react-18.md
Labels: CLA Signed, react core team

#4114 Fixes unwanted scrolls in mobile
  beta/src/components/PageHeading.tsx
Labels: CLA Signed, beta

#4120 Add check-all script for beta site
  beta/README.md
  beta/package.json
Labels: CLA Signed, beta

#4104 Fixes typos
  beta/src/pages/learn/adding-interactivity.md
  beta/src/pages/learn/choosing-the-state-structure.md
  beta/src/pages/learn/index.md
  beta/src/pages/learn/rendering-lists.md
  beta/src/pages/learn/state-a-components-memory.md
  beta/src/pages/reference/usestate.md
Labels: CLA Signed, beta

#4121 chore: fix typos
  beta/src/pages/learn/index.md
Labels: CLA Signed, beta, type: typos

#4097 Fix description to match code in referencing-values-with-refs.md
  beta/src/pages/learn/referencing-values-with-refs.md
Labels: CLA Signed, beta, type: typos

#4129 Move React India 2021 to past conferences
  content/community/conferences.md
Labels: CLA Signed

#4054 [Beta]Move all possible style to tailwind classes
  beta/src/components/Layout/Page.tsx
  beta/src/components/Layout/Sidebar/Sidebar.tsx
  beta/src/components/Layout/Sidebar/SidebarRouteTree.tsx
  beta/src/components/MDX/APIAnatomy.tsx
  beta/src/components/MDX/Heading.tsx
  beta/src/components/MDX/Sandpack/Preview.tsx
  beta/src/components/Search.tsx
Labels: CLA Signed, beta
