Repository reactjs/react.dev, pull requests merged in 2021-12, with the labels that each got.

#4115 chore: remove unused dep to fix lint warning
  plugins/gatsby-transformer-home-example-code/gatsby-node.js
Labels: CLA Signed

#4138 Fix a typo (Beta docs)
  beta/src/pages/learn/javascript-in-jsx-with-curly-braces.md
Labels: CLA Signed, beta

#4139 Removing the generate ids scripts for now since it affects translation
  beta/.husky/pre-commit
Labels: CLA Signed

#4093 [fix]: add-listner is deprecated, switched those to add-event-listner
  beta/src/components/Layout/useMediaQuery.tsx
  beta/src/pages/_document.tsx
Labels: CLA Signed, beta

#4146 fix: correct the link to navigate to the team page
  beta/src/pages/community/acknowledgements.md
Labels: CLA Signed, beta

#4150 Generated missing ids
  content/blog/2021-06-08-the-plan-for-react-18.md
Labels: CLA Signed

#4156 fix: correct the link to slice()
  beta/src/pages/learn/updating-arrays-in-state.md
Labels: CLA Signed, beta

#4149 Add Framer Motion to animation FAQ
  content/docs/faq-styling.md
Labels: type: documentation, CLA Signed

#4166 docs: fix a typo
  beta/src/pages/learn/installation.md
Labels: CLA Signed, beta, type: typos

#4171 Fix typo in Removing from an array part
  beta/src/pages/learn/updating-arrays-in-state.md
Labels: CLA Signed, beta

#4172 React Conf 2021 Recap Blog Post
  content/authors.yml
  content/blog/2021-12-15-react-conf-2021-recap.md
  content/images/blog/react-conf-2021-recap/multi-platform-vision.png
Labels: CLA Signed

#4174 React Conf Recap Blog Post
  content/authors.yml
  content/blog/2021-12-17-react-conf-2021-recap.md
  content/images/blog/react-conf-2021-recap/multi-platform-vision.png
Labels: CLA Signed

#4181 Delete multi-platform-vision.png
  content/images/blog/react-conf-2021-recap/multi-platform-vision.png
Labels: CLA Signed

#4187 Update conferences.md
  content/community/conferences.md
Labels: CLA Signed

#4193 Update copyright on website
  src/components/LayoutFooter/Footer.js
Labels: CLA Signed

#4192 ci: Fix wrong workflow file name
  .github/workflows/analyze.yml
Labels: CLA Signed

#4196 docs: phrasing a sentence in article
  beta/src/pages/learn/conditional-rendering.md
Labels: type: documentation, CLA Signed, beta
