Repository reactjs/react.dev, pull requests merged in 2022-01, with the labels that each got.

#4207 Add Link to React Conf 2021 Playlist
  content/community/videos.md
Labels: CLA Signed

#4204 Fix jsx example for string attributes
  content/docs/introducing-jsx.md
Labels: CLA Signed

#4191 Add React Miami to conferences.md
  content/community/conferences.md
Labels: type: documentation, CLA Signed

#4222 React Live 2022 Amsterdam
  content/community/conferences.md
Labels: CLA Signed

#4223 FIXED: broken 'translated' link
  beta/src/pages/blog/2019/02/23/is-react-translated-yet.md
  content/blog/2019-02-23-is-react-translated-yet.md
  content/community/team.md
Labels: CLA Signed, beta

#4218 Update outdated link to avoid redirect
  content/docs/code-splitting.md
Labels: CLA Signed

#4143 Added hook to validate if headings are present or not
  .github/workflows/beta_site_lint.yml
  beta/.husky/pre-commit
  beta/package.json
  beta/scripts/generateHeadingIDs.js
  beta/scripts/headingIDHelpers/generateHeadingIDs.js
  beta/scripts/headingIDHelpers/validateHeadingIDs.js
  beta/scripts/headingIDHelpers/walk.js
  beta/scripts/headingIdLinter.js
Labels: CLA Signed, beta, type: improvement

#4199 Update react-router examples to use v6 version
  content/docs/code-splitting.md
Labels: CLA Signed

#3951 Delete _redirects
  static/_redirects
Labels: CLA Signed

#4209 docs: fix: spread syntax is not an operator. But react document saying that…
  beta/src/pages/blog/2014/10/28/react-v0.12.md
  beta/src/pages/blog/2015/02/24/react-v0.13-rc1.md
  beta/src/pages/blog/2015/03/10/react-v0.13.md
  beta/src/pages/learn/updating-arrays-in-state.md
  beta/src/pages/learn/updating-objects-in-state.md
  content/blog/2014-10-28-react-v0.12.md
  content/blog/2015-02-24-react-v0.13-rc1.md
  content/blog/2015-03-10-react-v0.13.md
  content/docs/jsx-in-depth.md
  content/warnings/unknown-prop.md
Labels: CLA Signed, beta

#4225 Updates deployment in readme from netlify to vercel
  README.md
  beta/README.md
Labels: CLA Signed, beta

#4224 Analytics for Beta
  beta/.env.development
  beta/.env.production
  beta/next.config.js
  beta/package.json
  beta/src/pages/_app.tsx
  beta/yarn.lock
Labels: CLA Signed, react core team, beta

#4228 Bump next
  beta/next-env.d.ts
  beta/package.json
  beta/yarn.lock
Labels: CLA Signed, beta

#4233 Removed google analytics for dev
  beta/.env.development
  beta/src/pages/_app.tsx
Labels: CLA Signed, beta

#4234 Add Reactathon 2022 to conferences.md
  content/community/conferences.md
Labels: CLA Signed

#4161 Sandpack: upgrade dependencies and adds ReactDevtools
  beta/package.json
  beta/src/components/Icon/IconNewPage.tsx
  beta/src/components/MDX/APIAnatomy.tsx
  beta/src/components/MDX/CodeBlock/CodeBlock.tsx
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
  beta/src/components/MDX/Sandpack/NavigationBar.tsx
  beta/src/components/MDX/Sandpack/OpenInCodeSandboxButton.tsx
  beta/src/components/MDX/Sandpack/index.tsx
  beta/src/styles/sandpack.css
  beta/yarn.lock
Labels: CLA Signed, beta

#4232 [docs]: Updated CodePen links
  content/docs/components-and-props.md
  content/docs/hello-world.md
  content/docs/introducing-jsx.md
  content/docs/rendering-elements.md
Labels: CLA Signed

#4025 Add "click to copy" to TerminalBlock
  beta/src/components/Icon/IconCopy.tsx
  beta/src/components/MDX/TerminalBlock.tsx
Labels: CLA Signed, beta, type: improvement

#4123 fix: challenges navigation
  beta/src/components/MDX/Challenges/Challenges.tsx
  beta/src/components/MDX/Challenges/Navigation.tsx
Labels: CLA Signed, bug: confirmed, beta

#4246 [Beta] Make line highlight full width
  beta/src/styles/sandpack.css
Labels: CLA Signed, react core team, beta

#4245 [Beta] Rewrite Quick Start
  beta/src/pages/learn/index.md
  beta/src/pages/learn/thinking-in-react.md
Labels: CLA Signed, react core team, beta

#4239 [Beta] Change "You will learn" for chapters
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/pages/learn/adding-interactivity.md
  beta/src/pages/learn/describing-the-ui.md
  beta/src/pages/learn/installation.md
  beta/src/pages/learn/managing-state.md
Labels: CLA Signed, react core team, beta

#4240 Introduce lint staged
  beta/.husky/pre-commit
  beta/.prettierrc
  beta/package.json
  beta/src/styles/algolia.css
  beta/src/styles/fonts.css
  beta/src/styles/index.css
  beta/src/styles/sandpack.css
  beta/yarn.lock
Labels: CLA Signed, beta

#4252 Adds linting for main branch too
  .github/workflows/beta_site_lint.yml
  .github/workflows/nodejs.yml
Labels: CLA Signed

#4236 Removed circle CI
  .circleci/config.yml
Labels: CLA Signed

#4251 bump next to latest
  beta/package.json
  beta/yarn.lock
Labels: CLA Signed, beta

#4253 Revert "Removed circle CI"
  .circleci/config.yml
Labels: CLA Signed

#4254 Revert "Revert "Removed circle CI""
  .circleci/config.yml
Labels: CLA Signed, react core team

#4255 chore: fix typo
  beta/src/pages/learn/index.md
Labels: CLA Signed, beta

#4265 [Beta] Reorder useState page
  beta/src/pages/reference/usestate.md
Labels: CLA Signed, react core team, beta
