Repository reactjs/react.dev, pull requests merged in 2022-02, with the labels that each got.

#4264 [Beta] Address Quick Start review nits
  beta/src/pages/learn/index.md
Labels: CLA Signed, react core team, beta

#4266 Prevent nav context re-renders
  beta/src/components/useMenu.tsx
Labels: CLA Signed, react core team, beta

#4267 Use MDXContext directly
  beta/src/components/Layout/LayoutPost.tsx
  beta/src/components/Layout/MarkdownPage.tsx
Labels: CLA Signed, react core team, beta

#4126 fix(sandpack): improve memory usage
  beta/package.json
  beta/src/components/MDX/Sandpack/Preview.tsx
  beta/src/components/MDX/Sandpack/index.tsx
  beta/yarn.lock
Labels: CLA Signed, beta, type: improvement

#4270 Bump workflow versions
  .github/workflows/analyze.yml
  .github/workflows/beta_site_lint.yml
  .github/workflows/nodejs.yml
Labels: CLA Signed, react core team

#4271 [Beta] Rename TaskBoard -> TaskApp in examples
  beta/src/pages/learn/extracting-state-logic-into-a-reducer.md
  beta/src/pages/learn/managing-state.md
  beta/src/pages/learn/scaling-up-with-reducer-and-context.md
  beta/src/pages/learn/updating-arrays-in-state.md
  beta/src/pages/reference/usestate.md
Labels: CLA Signed, react core team, beta

#4276 [Beta] Change useState structure, add examples
  beta/src/components/Layout/MarkdownPage.tsx
  beta/src/components/MDX/Challenges/Challenges.tsx
  beta/src/pages/reference/usestate.md
Labels: CLA Signed, react core team, beta

#4279 fix: typo
  beta/src/pages/learn/start-a-new-react-project.md
Labels: CLA Signed, beta

#4282 Update courses.md
  content/community/courses.md
Labels: CLA Signed

#4285 usestate-again: Some tweaks
  beta/src/pages/reference/usestate.md
Labels: CLA Signed, beta

#4284 [Beta] useState API: Best of the both words? Haha just kidding... Unless?...
  beta/src/components/Layout/MarkdownPage.tsx
  beta/src/components/MDX/Challenges/Challenges.tsx
  beta/src/components/MDX/ExpandableCallout.tsx
  beta/src/pages/learn/index.md
  beta/src/pages/learn/state-a-components-memory.md
  beta/src/pages/reference/usestate.md
Labels: CLA Signed, react core team, beta

#4289 fix(useMediaQuery): adds fallback to matchMedia
  beta/src/components/Layout/useMediaQuery.tsx
Labels: CLA Signed, beta

#4278 fix(sandpack): disable init-mode
  beta/package.json
  beta/src/components/MDX/Sandpack/index.tsx
  beta/yarn.lock
Labels: CLA Signed, beta

#4291 React-Global-2022
  content/community/conferences.md
Labels: CLA Signed

#4292 React-Meetup-Stockholm
  content/community/meetups.md
Labels: CLA Signed

#4294 [Beta] Move /reference -> /apis
  beta/CONTRIBUTING.md
  beta/plugins/md-layout-loader.js
  beta/src/components/Layout/Footer.tsx
  beta/src/components/Layout/Nav/MobileNav.tsx
  beta/src/components/Layout/Nav/Nav.tsx
  beta/src/components/MDX/HomepageHero.tsx
  beta/src/components/useMenu.tsx
  beta/src/pages/apis/index.md
  beta/src/pages/apis/reactdom.md
  beta/src/pages/apis/render.md
  beta/src/pages/apis/usestate.md
  beta/src/pages/index.md
  beta/src/pages/learn/add-react-to-a-website.md
  beta/src/pages/learn/adding-interactivity.md
  beta/src/pages/learn/index.md
  beta/src/pages/learn/keeping-components-pure.md
  beta/src/pages/learn/reacting-to-input-with-state.md
  beta/src/pages/learn/responding-to-events.md
  beta/src/pages/learn/state-a-components-memory.md
  beta/src/pages/learn/thinking-in-react.md
  beta/src/sidebarReference.json
  beta/vercel.json
Labels: CLA Signed, react core team, beta

#4295 Removes readme and contributing.md from generate heading lint
  beta/package.json
Labels: CLA Signed, beta

#4297 [Beta] Document derived state
  beta/src/pages/apis/usestate.md
  beta/src/pages/learn/choosing-the-state-structure.md
Labels: CLA Signed, react core team, beta

#4299 [beta] Push people away more from setting state in render
  beta/src/pages/apis/usestate.md
Labels: CLA Signed, beta

#4300 docs: fix typo in useState Adjusting derived state section
  beta/src/pages/apis/usestate.md
Labels: CLA Signed, beta

#4301 [beta] Don't call it "derived state"
  beta/src/pages/apis/usestate.md
Labels: CLA Signed, beta

#4303 Updated code-splitting.md to import BrowserRouter as Router
  content/docs/code-splitting.md
Labels: CLA Signed

#4305 Update React India 2022 Conference Dates 🌴
  content/community/conferences.md
Labels: CLA Signed

#4302 Sandpack error icon overlapping issue fix
  beta/src/styles/sandpack.css
Labels: CLA Signed, beta

#4304 Generate Ids when there are none in local development
  beta/plugins/remark-header-custom-ids.js
Labels: CLA Signed, beta

#4309 [Beta] useState Troubleshooting
  beta/src/components/Layout/Toc.tsx
  beta/src/pages/apis/usestate.md
  beta/src/pages/learn/adding-interactivity.md
Labels: CLA Signed, react core team, beta

#4185 docs: phrasing a sentence
  beta/src/pages/learn/passing-data-deeply-with-context.md
Labels: CLA Signed, beta

#4182 docs: phrasing a sentence
  beta/src/pages/learn/extracting-state-logic-into-a-reducer.md
Labels: CLA Signed, beta

#4183 docs: fix a grammatical error
  beta/src/pages/learn/extracting-state-logic-into-a-reducer.md
Labels: CLA Signed, beta

#4137 Change "return statement" to "return keyword"
  beta/src/pages/learn/your-first-component.md
Labels: type: documentation, CLA Signed, beta

#4110 small fixes to stopwatch codesandbox
  beta/src/pages/learn/referencing-values-with-refs.md
Labels: type: documentation, CLA Signed, beta

#4310 [beta] Tweak usestate.md
  beta/src/pages/apis/usestate.md
Labels: CLA Signed, beta

#4311 Fixes typo
  beta/src/pages/apis/usestate.md
Labels: CLA Signed

#4314 [Beta] Use "Parameters" as titles?
  beta/src/pages/apis/usestate.md
Labels: CLA Signed, beta

#4316 Fix broken MDN E4X links
  beta/src/pages/blog/2017/11/28/react-v16.2.0-fragment-support.md
  content/blog/2017-11-28-react-v16.2.0-fragment-support.md
Labels: CLA Signed, beta

#4321 removed old "early time for hooks" note
  content/docs/hooks-faq.md
Labels: CLA Signed

#4325 Revert "Sandpack error icon overlapping issue fix"
  beta/src/styles/sandpack.css
Labels: CLA Signed, react core team

#4322 [Beta] Fix layout shift from previews
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
  beta/src/components/MDX/Sandpack/Preview.tsx
  beta/src/components/MDX/Sandpack/index.tsx
  beta/src/styles/sandpack.css
  beta/tailwind.config.js
Labels: CLA Signed, react core team, beta

#4319 [Beta] Change render() API page format
  beta/src/pages/apis/render.md
Labels: CLA Signed, react core team, beta

#4318 [Beta] Mention batching in useState
  beta/src/pages/apis/usestate.md
Labels: CLA Signed, react core team, beta

#4326 Fixes typo
  beta/src/pages/apis/render.md
Labels: CLA Signed, beta

#4327 Fix broken link in render-and-commit.md
  beta/src/pages/learn/render-and-commit.md
Labels: CLA Signed, beta

#4331 [beta] Reword "action = what happened" advice for useReducer
  beta/src/pages/learn/extracting-state-logic-into-a-reducer.md
Labels: CLA Signed, beta

#4336 Add App.js Conf 2022 to the conferences page
  content/community/conferences.md
Labels: CLA Signed

#4337 sandpack: bring back init mode
  beta/package.json
  beta/src/components/MDX/Sandpack/index.tsx
  beta/yarn.lock
Labels: CLA Signed, beta

#4328 [Beta] Reorder API sections
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/pages/apis/index.md
  beta/src/pages/apis/reactdom.md
  beta/src/pages/apis/render.md
  beta/src/pages/apis/usestate.md
Labels: CLA Signed, react core team, beta

#4256 Splitting sandpack from main bundle
  beta/next.config.js
  beta/package.json
  beta/src/components/MDX/APIAnatomy.tsx
  beta/src/components/MDX/CodeBlock/CodeBlock.module.css
  beta/src/components/MDX/CodeBlock/CodeBlock.tsx
  beta/src/components/MDX/CodeBlock/index.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/components/MDX/PackageImport.tsx
  beta/src/components/MDX/Sandpack/SandpackWrapper.tsx
  beta/src/components/MDX/Sandpack/index.tsx
  beta/src/components/MDX/Sandpack/utils.ts
  beta/src/pages/_document.tsx
  beta/src/styles/sandpack.css
  beta/yarn.lock
Labels: CLA Signed, beta

#4346 Nitpicks for code splitting
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
  beta/src/components/MDX/Sandpack/index.tsx
  beta/src/components/MDX/Sandpack/utils.ts
Labels: CLA Signed, react core team, beta

#4348 [Beta] Change highlight styles
  beta/src/components/MDX/CodeBlock/CodeBlock.tsx
  beta/src/components/MDX/ConsoleBlock.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/styles/index.css
Labels: CLA Signed, react core team, beta

#4345 [Beta] useRef API
  beta/src/pages/apis/index.md
  beta/src/pages/apis/useref.md
  beta/src/pages/learn/manipulating-the-dom-with-refs.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#4352 [beta] fix typo in useref.md
  beta/src/pages/apis/useref.md
Labels: CLA Signed, beta

#4350 Cache a font file
  beta/public/fonts/Source-Code-Pro-Regular.woff2
  beta/public/fonts/SourceCodePro-Regular.ttf
  beta/src/components/Seo.tsx
  beta/src/styles/fonts.css
  beta/src/styles/index.css
  beta/vercel.json
Labels: CLA Signed, beta

#4344 [Beta] Add aria-label and title to permalinks
  beta/src/components/MDX/Heading.tsx
Labels: CLA Signed, beta

#4275 [Beta] Replace Hotjar with GA buttons
  beta/.env.development
  beta/.env.production
  beta/src/components/Layout/Feedback.tsx
  beta/src/components/Layout/Nav/Nav.tsx
  beta/src/components/Layout/Sidebar/Sidebar.tsx
  beta/src/pages/_app.tsx
  beta/src/utils/hotjar.js
Labels: CLA Signed, react core team, beta

#4363 Add ARIA labels on the navigation buttons
  beta/src/components/MDX/Challenges/Navigation.tsx
Labels: CLA Signed, beta

#4367 Add the current LTS Node version
  package.json
Labels: CLA Signed

#4366 [beta] bump tailwind to v3 and update config
  beta/package.json
  beta/src/components/Layout/Sidebar/Sidebar.tsx
  beta/src/components/MDX/Challenges/Navigation.tsx
  beta/src/components/MDX/HomepageHero.tsx
  beta/src/components/MDX/Sandpack/NavigationBar.tsx
  beta/src/components/MDX/Sandpack/index.tsx
  beta/src/components/Search.tsx
  beta/src/styles/algolia.css
  beta/src/styles/index.css
  beta/tailwind.config.js
  beta/yarn.lock
Labels: CLA Signed, beta

#4371 Upgrade sandpack to fix code cutting issue in view only editor
  beta/package.json
  beta/yarn.lock
Labels: CLA Signed, beta

#4375 Remove unnecessary Tailwind CSS classes
  beta/src/components/Icon/IconArrow.tsx
  beta/src/components/Icon/IconArrowSmall.tsx
  beta/src/components/Icon/IconChevron.tsx
  beta/src/components/Icon/IconNavArrow.tsx
Labels: CLA Signed, beta

#4377 Add diagrams to Quick Start
  beta/public/images/docs/diagrams/sharing_data_child.dark.svg
  beta/public/images/docs/diagrams/sharing_data_child.svg
  beta/public/images/docs/diagrams/sharing_data_child_clicked.dark.svg
  beta/public/images/docs/diagrams/sharing_data_child_clicked.svg
  beta/public/images/docs/diagrams/sharing_data_parent.dark.svg
  beta/public/images/docs/diagrams/sharing_data_parent.svg
  beta/public/images/docs/diagrams/sharing_data_parent_clicked.dark.svg
  beta/public/images/docs/diagrams/sharing_data_parent_clicked.svg
  beta/src/components/MDX/Diagram.tsx
  beta/src/components/MDX/DiagramGroup.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/pages/learn/index.md
  beta/src/styles/index.css
Labels: CLA Signed, react core team, beta

#4378 [Beta] useContext API
  beta/src/pages/apis/usecontext.md
  beta/src/pages/apis/useref.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta
