Repository reactjs/react.dev, pull requests merged in 2022-10, with the labels that each got.

#5141 Update my twitter name
  content/authors.yml
  content/blog/2021-12-17-react-conf-2021-recap.md
Labels: CLA Signed, react core team

#5142 [Beta] Fix typos in 'Lifecycle of Reactive Effects' challenge descriptions
  beta/src/content/learn/lifecycle-of-reactive-effects.md
Labels: CLA Signed, beta

#4847 [beta] fix(Navigation): cleanup `resize` listener
  beta/src/components/MDX/Challenges/Navigation.tsx
Labels: CLA Signed, beta

#5120 [Beta] Added documentation for React.createFactory
  beta/src/components/MDX/ExpandableCallout.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/content/apis/react/createFactory.md
  beta/src/sidebarReference.json
Labels: CLA Signed, beta

#5149 [Beta] Add Alternatives to createFactory API
  beta/src/content/apis/react/createFactory.md
Labels: CLA Signed, react core team, beta

#5151 [beta] Sandpack: fix package.json dependencies & remove cm-markdown dependency
  beta/next.config.js
  beta/package.json
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
  beta/src/pages/_document.tsx
  beta/src/utils/codemirrorMarkdownShim.js
  beta/yarn.lock
Labels: CLA Signed, beta

#5152 [Beta] isValidElement API
  beta/src/content/apis/react/isValidElement.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#5153 [Beta] Accurate MDX line numbers
  beta/package.json
  beta/src/pages/[[...markdownPath]].js
  beta/yarn.lock
Labels: CLA Signed, react core team, beta

#5154 [Beta] createElement API
  beta/src/content/apis/react/createElement.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#5157 [Beta] useImperativeHandle API
  beta/src/content/apis/react/forwardRef.md
  beta/src/content/apis/react/useImperativeHandle.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#5158 [Beta] Remove some polyfills
  beta/next.config.js
  beta/src/utils/processShim.js
  beta/src/utils/rafShim.js
Labels: CLA Signed, react core team, beta

#5124 [beta] Sandpack: provide bare components and move styles
  beta/.env.development
  beta/.env.production
  beta/next.config.js
  beta/package.json
  beta/src/components/MDX/ConsoleBlock.tsx
  beta/src/components/MDX/Sandpack/Console.tsx
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
  beta/src/components/MDX/Sandpack/NavigationBar.tsx
  beta/src/components/MDX/Sandpack/OpenInCodeSandboxButton.tsx
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
  beta/src/components/MDX/Sandpack/index.tsx
  beta/src/pages/_app.tsx
  beta/src/pages/_document.tsx
  beta/src/styles/sandpack.css
  beta/src/utils/emptyShim.js
  beta/yarn.lock
Labels: CLA Signed, beta

#5159 [Beta] Prefetch CodeBlock
  beta/src/components/Layout/MarkdownPage.tsx
Labels: CLA Signed, react core team, beta

#5162 [Beta] Fix code styles
  beta/src/styles/sandpack.css
Labels: CLA Signed, react core team, beta

#5163 [Beta] Children API
  beta/src/content/apis/react/Children.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#5167 [Beta] fix typo in 'Removing Effect Dependencies'
  beta/src/content/learn/removing-effect-dependencies.md
Labels: CLA Signed, beta

#5172 [Beta] Rename Gotcha component to Pitfall
  beta/src/components/Icon/IconPitfall.tsx
  beta/src/components/MDX/ExpandableCallout.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/content/apis/react-dom/client/createRoot.md
  beta/src/content/apis/react-dom/client/hydrateRoot.md
  beta/src/content/apis/react-dom/findDOMNode.md
  beta/src/content/apis/react-dom/flushSync.md
  beta/src/content/apis/react-dom/hydrate.md
  beta/src/content/apis/react-dom/render.md
  beta/src/content/apis/react/Children.md
  beta/src/content/apis/react/Suspense.md
  beta/src/content/apis/react/createFactory.md
  beta/src/content/apis/react/forwardRef.md
  beta/src/content/apis/react/memo.md
  beta/src/content/apis/react/useContext.md
  beta/src/content/apis/react/useEffect.md
  beta/src/content/apis/react/useId.md
  beta/src/content/apis/react/useImperativeHandle.md
  beta/src/content/apis/react/useInsertionEffect.md
  beta/src/content/apis/react/useReducer.md
  beta/src/content/apis/react/useRef.md
  beta/src/content/apis/react/useState.md
  beta/src/content/learn/add-react-to-a-website.md
  beta/src/content/learn/choosing-the-state-structure.md
  beta/src/content/learn/conditional-rendering.md
  beta/src/content/learn/javascript-in-jsx-with-curly-braces.md
  beta/src/content/learn/lifecycle-of-reactive-effects.md
  beta/src/content/learn/passing-props-to-a-component.md
  beta/src/content/learn/preserving-and-resetting-state.md
  beta/src/content/learn/removing-effect-dependencies.md
  beta/src/content/learn/render-and-commit.md
  beta/src/content/learn/rendering-lists.md
  beta/src/content/learn/responding-to-events.md
  beta/src/content/learn/state-a-components-memory.md
  beta/src/content/learn/synchronizing-with-effects.md
  beta/src/content/learn/thinking-in-react.md
  beta/src/content/learn/updating-arrays-in-state.md
  beta/src/content/learn/writing-markup-with-jsx.md
  beta/src/content/learn/your-first-component.md
Labels: beta

#5170 [Beta] fix: gutter overlap with sandpack code on mobile
  beta/src/styles/sandpack.css
Labels: CLA Signed, beta

#5182 Scroll behavior
  beta/src/styles/index.css
  src/css/reset.css
Labels: CLA Signed, beta

#5184 [docs-beta] fix: broken link for render-and-commt in keeping-components-pure
  beta/src/content/learn/keeping-components-pure.md
Labels: beta

#5186 Revert "Scroll behavior"
  beta/src/styles/index.css
  src/css/reset.css
Labels: CLA Signed

#5187 [beta] Fix 'queueing a series of state changes->updates' typo in beta docs
  beta/src/content/learn/adding-interactivity.md
Labels: beta

#5188 [Beta] Show illustration credit on hover/tap
  beta/src/components/MDX/MDXComponents.tsx
Labels: CLA Signed, react core team, beta

#5190 [beta] broken links in updating-objects-in-state
  beta/src/content/learn/updating-objects-in-state.md
Labels: beta

#5189 [Beta] Remove random debugging console.log
  beta/src/components/MDX/ExpandableCallout.tsx
Labels: beta

#5191 [beta] Fix typo on apis/react-dom/render
  beta/src/content/apis/react-dom/render.md
Labels: CLA Signed, beta

#5194 [Beta] cloneElement API
  beta/src/content/apis/react/cloneElement.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#5164 [Beta] Sandpack bundler improvements
  beta/src/components/MDX/Sandpack/ErrorMessage.tsx
  beta/src/components/MDX/Sandpack/LoadingOverlay.tsx
  beta/src/components/MDX/Sandpack/NavigationBar.tsx
  beta/src/components/MDX/Sandpack/Preview.tsx
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
  beta/src/styles/sandpack.css
Labels: CLA Signed, beta

#5216 [Beta] Sandpack: fix accessibility issue on Codeeditor
  beta/package.json
  beta/yarn.lock
Labels: CLA Signed, beta

#5201 [Beta] fix typo in apis/react/cloneElement
  beta/src/content/apis/react/cloneElement.md
Labels: CLA Signed, beta

#5220 [Beta] Add missing dependencies
  beta/src/content/learn/separating-events-from-effects.md
Labels: CLA Signed, beta

#5225 Fix broken links
  beta/src/content/apis/react/createFactory.md
  beta/src/content/apis/react/isValidElement.md
  beta/src/content/apis/react/lazy.md
  beta/src/content/apis/react/memo.md
  beta/src/content/apis/react/useCallback.md
  beta/src/content/apis/react/useEffect.md
  beta/src/content/apis/react/useMemo.md
Labels: beta

#5204 Add github repo link in the footer
  beta/src/components/Icon/IconGitHub.tsx
  beta/src/components/Layout/Footer.tsx
Labels: CLA Signed, beta
