Repository reactjs/react.dev, pull requests merged in 2022-09, with the labels that each got.

#4952 [Beta] Challenges/Edits for Removing Effect Dependencies
  beta/src/pages/learn/removing-effect-dependencies.md
Labels: CLA Signed, react core team, beta

#4950 Fixed a sentence
  content/docs/thinking-in-react.md
Labels: CLA Signed

#4958 [Beta] Reusing Logic with Custom Hooks
  beta/src/pages/learn/removing-effect-dependencies.md
  beta/src/pages/learn/reusing-logic-with-custom-hooks.md
  beta/src/sidebarLearn.json
Labels: CLA Signed, react core team, beta

#4959 Revert "[beta] upgrade sandpack and refactor sandpack.css"
  beta/package.json
  beta/patches/@codesandbox+sandpack-react+0.19.8-experimental.4.patch
  beta/src/components/MDX/CodeBlock/CodeBlock.tsx
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
  beta/src/components/MDX/Sandpack/FilesDropdown.tsx
  beta/src/components/MDX/Sandpack/NavigationBar.tsx
  beta/src/components/MDX/Sandpack/Preview.tsx
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
  beta/src/components/MDX/Sandpack/Themes.tsx
  beta/src/components/MDX/Sandpack/index.tsx
  beta/src/pages/_app.tsx
  beta/src/pages/_document.tsx
  beta/src/pages/learn/index.md
  beta/src/styles/sandpack.css
  beta/yarn.lock
Labels: CLA Signed, react core team, beta

#4960 [Beta] More info about custom hooks
  beta/src/pages/learn/reusing-logic-with-custom-hooks.md
Labels: CLA Signed, react core team, beta

#4961 [Beta] Typo fix : Updated "every 100" to "every 10" to match with the code
  beta/src/pages/learn/referencing-values-with-refs.md
Labels: CLA Signed, beta

#4963 [Beta] Challenges for Reusing Logic
  beta/src/pages/learn/reusing-logic-with-custom-hooks.md
Labels: CLA Signed

#4968 [Beta] fix a broken link
  beta/src/pages/learn/you-might-not-need-an-effect.md
Labels: CLA Signed, beta

#4967 [Beta] Link to Getting Started guide in Parcel docs
  beta/src/pages/learn/start-a-new-react-project.md
Labels: CLA Signed, beta

#4948 fix: reset showHint to false when click Next Challenge
  beta/src/components/MDX/Challenges/Challenge.tsx
  beta/src/components/MDX/Challenges/Challenges.tsx
  beta/src/components/MDX/Challenges/Navigation.tsx
Labels: CLA Signed, beta

#4957 [beta] Add escape hatches index page
  beta/src/pages/learn/escape-hatches.md
  beta/src/pages/learn/reusing-logic-with-custom-hooks.md
Labels: CLA Signed, react core team, beta

#4965 [Beta] Clarify grammar
  beta/src/pages/learn/keeping-components-pure.md
Labels: CLA Signed, beta

#4971 [Beta] fix a broken link
  beta/src/pages/apis/react/useState.md
Labels: CLA Signed, beta

#4974 [Beta] add missing quotes
  beta/src/pages/learn/lifecycle-of-reactive-effects.md
Labels: CLA Signed, beta

#4975 [Beta] Refactor Layouts
  beta/plugins/md-layout-loader.js
  beta/src/components/Layout/LayoutAPI.tsx
  beta/src/components/Layout/LayoutHome.tsx
  beta/src/components/Layout/LayoutLearn.tsx
  beta/src/components/Layout/LayoutPost.tsx
  beta/src/components/Layout/MarkdownPage.tsx
  beta/src/components/Layout/Page.tsx
  beta/src/pages/500.md
  beta/src/pages/_app.tsx
  beta/src/pages/blog/all.tsx
  beta/src/pages/blog/index.tsx
Labels: CLA Signed, react core team, beta

#4976 [Beta] Move MDX Preprocessing
  beta/src/components/Layout/MarkdownPage.tsx
  beta/src/pages/_app.tsx
Labels: CLA Signed, react core team, beta

#4980 [Beta] Use h4 for Challenge titles
  beta/src/components/MDX/Challenges/Challenges.tsx
  beta/src/pages/apis/react/useContext.md
  beta/src/pages/apis/react/useReducer.md
  beta/src/pages/apis/react/useRef.md
  beta/src/pages/apis/react/useState.md
  beta/src/pages/learn/choosing-the-state-structure.md
  beta/src/pages/learn/conditional-rendering.md
  beta/src/pages/learn/extracting-state-logic-into-a-reducer.md
  beta/src/pages/learn/importing-and-exporting-components.md
  beta/src/pages/learn/javascript-in-jsx-with-curly-braces.md
  beta/src/pages/learn/keeping-components-pure.md
  beta/src/pages/learn/lifecycle-of-reactive-effects.md
  beta/src/pages/learn/manipulating-the-dom-with-refs.md
  beta/src/pages/learn/passing-data-deeply-with-context.md
  beta/src/pages/learn/passing-props-to-a-component.md
  beta/src/pages/learn/preserving-and-resetting-state.md
  beta/src/pages/learn/queueing-a-series-of-state-updates.md
  beta/src/pages/learn/reacting-to-input-with-state.md
  beta/src/pages/learn/referencing-values-with-refs.md
  beta/src/pages/learn/removing-effect-dependencies.md
  beta/src/pages/learn/rendering-lists.md
  beta/src/pages/learn/responding-to-events.md
  beta/src/pages/learn/reusing-logic-with-custom-hooks.md
  beta/src/pages/learn/separating-events-from-effects.md
  beta/src/pages/learn/sharing-state-between-components.md
  beta/src/pages/learn/state-a-components-memory.md
  beta/src/pages/learn/state-as-a-snapshot.md
  beta/src/pages/learn/synchronizing-with-effects.md
  beta/src/pages/learn/updating-arrays-in-state.md
  beta/src/pages/learn/updating-objects-in-state.md
  beta/src/pages/learn/writing-markup-with-jsx.md
  beta/src/pages/learn/you-might-not-need-an-effect.md
  beta/src/pages/learn/your-first-component.md
Labels: CLA Signed, react core team, beta

#4979 [Beta] fix a broken link
  beta/src/pages/learn/updating-arrays-in-state.md
Labels: CLA Signed, beta

#4981 [Beta] Remount Page Content
  beta/src/pages/_app.tsx
Labels: CLA Signed, react core team, beta

#4949 docs: fix grammar
  content/docs/strict-mode.md
Labels: CLA Signed

#4934 corrects tutorial url for the flux blog
  content/blog/2014-05-06-flux.md
Labels: CLA Signed

#4983 [Beta] remove unnecessary parentheses and update quote content
  beta/src/pages/learn/conditional-rendering.md
Labels: CLA Signed, beta

#4977 [Beta] fix warning-keys
  beta/src/pages/learn/updating-arrays-in-state.md
Labels: CLA Signed, beta

#4984 [Beta] update `handleClick()` to `handleClick`
  beta/src/pages/learn/state-a-components-memory.md
Labels: CLA Signed, beta

#4987 [Beta] Remove extra 'other'
  beta/src/pages/learn/reusing-logic-with-custom-hooks.md
Labels: beta

#4985 [Beta] clarify grammar
  beta/src/pages/learn/render-and-commit.md
Labels: CLA Signed, beta

#4986 [Beta] Add missing spaces
  beta/src/pages/learn/state-as-a-snapshot.md
Labels: CLA Signed, beta

#4991 [Beta] Don't rely on special MDX props
  beta/package.json
  beta/src/components/Layout/MarkdownPage.tsx
  beta/src/components/MDX/Challenges/Challenges.tsx
  beta/src/components/MDX/CodeDiagram.tsx
  beta/src/components/MDX/Heading.tsx
  beta/src/components/MDX/Link.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/components/MDX/PackageImport.tsx
  beta/src/components/MDX/Sandpack/createFileMap.ts
  beta/src/pages/[[...markdownPath]].js
  beta/src/utils/prepareMDX.js
Labels: CLA Signed, react core team, beta

#4994 [Beta] Pre-process MDX during build
  beta/src/pages/[[...markdownPath]].js
  beta/src/utils/prepareMDX.js
Labels: CLA Signed, react core team, beta

#4995 [Beta] Autogen API table of contents
  beta/src/components/Layout/MarkdownPage.tsx
  beta/src/components/Layout/Toc.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/components/MDX/TocContext.tsx
  beta/src/content/apis/react-dom/client/createRoot.md
  beta/src/content/apis/react-dom/client/hydrateRoot.md
  beta/src/content/apis/react-dom/createPortal.md
  beta/src/content/apis/react-dom/findDOMNode.md
  beta/src/content/apis/react-dom/flushSync.md
  beta/src/content/apis/react-dom/hydrate.md
  beta/src/content/apis/react-dom/render.md
  beta/src/content/apis/react-dom/server/renderToNodeStream.md
  beta/src/content/apis/react-dom/server/renderToPipeableStream.md
  beta/src/content/apis/react-dom/server/renderToReadableStream.md
  beta/src/content/apis/react-dom/server/renderToStaticMarkup.md
  beta/src/content/apis/react-dom/server/renderToStaticNodeStream.md
  beta/src/content/apis/react-dom/server/renderToString.md
  beta/src/content/apis/react-dom/unmountComponentAtNode.md
  beta/src/content/apis/react/Children.md
  beta/src/content/apis/react/Component.md
  beta/src/content/apis/react/Fragment.md
  beta/src/content/apis/react/PureComponent.md
  beta/src/content/apis/react/StrictMode.md
  beta/src/content/apis/react/Suspense.md
  beta/src/content/apis/react/cloneElement.md
  beta/src/content/apis/react/createContext.md
  beta/src/content/apis/react/createElement.md
  beta/src/content/apis/react/createFactory.md
  beta/src/content/apis/react/createRef.md
  beta/src/content/apis/react/forwardRef.md
  beta/src/content/apis/react/isValidElement.md
  beta/src/content/apis/react/lazy.md
  beta/src/content/apis/react/memo.md
  beta/src/content/apis/react/startTransition.md
  beta/src/content/apis/react/useCallback.md
  beta/src/content/apis/react/useContext.md
  beta/src/content/apis/react/useDebugValue.md
  beta/src/content/apis/react/useDeferredValue.md
  beta/src/content/apis/react/useEffect.md
  beta/src/content/apis/react/useId.md
  beta/src/content/apis/react/useImperativeHandle.md
  beta/src/content/apis/react/useInsertionEffect.md
  beta/src/content/apis/react/useLayoutEffect.md
  beta/src/content/apis/react/useMemo.md
  beta/src/content/apis/react/useReducer.md
  beta/src/content/apis/react/useRef.md
  beta/src/content/apis/react/useState.md
  beta/src/content/apis/react/useSyncExternalStore.md
  beta/src/content/apis/react/useTransition.md
  beta/src/utils/prepareMDX.js
Labels: CLA Signed, react core team, beta

#4996 [Beta] Use defined variables to access elements
  beta/src/content/learn/reacting-to-input-with-state.md
Labels: CLA Signed, beta

#5001 [Beta] Refactor Navigation
  beta/package.json
  beta/src/components/Layout/Nav/MobileNav.tsx
  beta/src/components/Layout/Nav/Nav.tsx
  beta/src/components/Layout/Page.tsx
  beta/src/components/Layout/Sidebar/Sidebar.tsx
  beta/src/components/Layout/Sidebar/SidebarLink.tsx
  beta/src/components/Layout/Sidebar/SidebarRouteTree.tsx
  beta/src/components/Layout/Sidebar/index.tsx
  beta/src/components/Layout/useMediaQuery.tsx
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
  beta/src/components/useMenu.tsx
Labels: CLA Signed, react core team, beta

#4993 [Beta] update quote content
  beta/src/content/learn/conditional-rendering.md
  beta/src/content/learn/extracting-state-logic-into-a-reducer.md
  beta/src/content/learn/keeping-components-pure.md
  beta/src/content/learn/lifecycle-of-reactive-effects.md
  beta/src/content/learn/managing-state.md
  beta/src/content/learn/manipulating-the-dom-with-refs.md
  beta/src/content/learn/passing-data-deeply-with-context.md
  beta/src/content/learn/passing-props-to-a-component.md
  beta/src/content/learn/preserving-and-resetting-state.md
  beta/src/content/learn/queueing-a-series-of-state-updates.md
  beta/src/content/learn/referencing-values-with-refs.md
  beta/src/content/learn/responding-to-events.md
  beta/src/content/learn/reusing-logic-with-custom-hooks.md
  beta/src/content/learn/separating-events-from-effects.md
  beta/src/content/learn/sharing-state-between-components.md
  beta/src/content/learn/state-a-components-memory.md
  beta/src/content/learn/state-as-a-snapshot.md
  beta/src/content/learn/synchronizing-with-effects.md
  beta/src/content/learn/updating-arrays-in-state.md
  beta/src/content/learn/updating-objects-in-state.md
  beta/src/content/learn/your-first-component.md
Labels: CLA Signed, beta

#5002 [Beta] Make banner scrollable
  beta/src/components/Layout/Feedback.tsx
  beta/src/components/Layout/Footer.tsx
  beta/src/components/Layout/MarkdownPage.tsx
  beta/src/components/Layout/Nav/Nav.tsx
  beta/src/components/Layout/Page.tsx
  beta/src/components/Layout/Toc.tsx
  beta/src/components/PageHeading.tsx
  beta/src/components/SocialBanner.tsx
  beta/src/pages/404.js
  beta/src/pages/500.js
  beta/src/pages/[[...markdownPath]].js
  beta/yarn.lock
Labels: CLA Signed, react core team, beta

#5005 [Beta] Add disk cache for MDX
  beta/package.json
  beta/src/pages/[[...markdownPath]].js
  beta/yarn.lock
Labels: CLA Signed, react core team, beta

#4944 docs: fix typo
  content/docs/composition-vs-inheritance.md
Labels: CLA Signed

#5009 [beta] Fix some broken links, add `[](TODO)` syntax
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/content/apis/react-dom/render.md
  beta/src/content/apis/react/useContext.md
  beta/src/content/apis/react/useState.md
  beta/src/content/learn/choosing-the-state-structure.md
  beta/src/content/learn/keeping-components-pure.md
  beta/src/content/learn/passing-props-to-a-component.md
  beta/src/content/learn/render-and-commit.md
  beta/src/content/learn/state-a-components-memory.md
  beta/src/content/learn/updating-objects-in-state.md
  beta/src/content/learn/writing-markup-with-jsx.md
Labels: CLA Signed, react core team, beta

#5011 [Beta] Fix iOS click issues
  beta/src/styles/index.css
Labels: CLA Signed, react core team, beta

#5010 [beta] Fix lint, remove unused vars
  beta/.eslintrc
  beta/package.json
  beta/src/components/Layout/MarkdownPage.tsx
  beta/src/components/Layout/Nav/Nav.tsx
  beta/src/components/Layout/Page.tsx
  beta/src/components/Layout/useTocHighlight.tsx
  beta/src/pages/[[...markdownPath]].js
  beta/yarn.lock
Labels: CLA Signed, react core team, beta

#5013 [Beta] Fix Download button
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
  beta/src/components/MDX/Sandpack/DownloadButton.tsx
  beta/src/components/MDX/Sandpack/NavigationBar.tsx
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
Labels: CLA Signed, react core team, beta

#5014 [Beta] Fix layout jump due to sandbox tabs
  beta/package.json
  beta/src/components/MDX/Sandpack/FilesDropdown.tsx
  beta/src/components/MDX/Sandpack/NavigationBar.tsx
  beta/src/styles/sandpack.css
  beta/yarn.lock
Labels: CLA Signed, react core team, beta

#5007 [Beta] Change the position of the comma
  beta/src/content/index.md
  beta/src/content/learn/add-react-to-a-website.md
  beta/src/content/learn/choosing-the-state-structure.md
  beta/src/content/learn/conditional-rendering.md
  beta/src/content/learn/extracting-state-logic-into-a-reducer.md
  beta/src/content/learn/importing-and-exporting-components.md
  beta/src/content/learn/keeping-components-pure.md
  beta/src/content/learn/lifecycle-of-reactive-effects.md
  beta/src/content/learn/manipulating-the-dom-with-refs.md
  beta/src/content/learn/passing-data-deeply-with-context.md
  beta/src/content/learn/preserving-and-resetting-state.md
  beta/src/content/learn/queueing-a-series-of-state-updates.md
  beta/src/content/learn/react-developer-tools.md
  beta/src/content/learn/reacting-to-input-with-state.md
  beta/src/content/learn/rendering-lists.md
  beta/src/content/learn/responding-to-events.md
  beta/src/content/learn/sharing-state-between-components.md
  beta/src/content/learn/start-a-new-react-project.md
  beta/src/content/learn/state-a-components-memory.md
  beta/src/content/learn/synchronizing-with-effects.md
  beta/src/content/learn/thinking-in-react.md
  beta/src/content/learn/updating-arrays-in-state.md
  beta/src/content/learn/writing-markup-with-jsx.md
  beta/src/content/learn/your-first-component.md
Labels: CLA Signed, beta

#5008 [beta] Add blog links
  beta/src/components/Layout/Footer.tsx
  beta/src/components/Layout/Sidebar/SidebarRouteTree.tsx
  beta/src/sidebarHome.json
Labels: CLA Signed, react core team, beta

#4966 fix: add css variables of header and fix layout collapses caused by headers, etc.
  src/components/Layout/Layout.js
  src/components/LayoutHeader/Header.js
  src/components/MarkdownHeader/MarkdownHeader.js
  src/components/MarkdownPage/MarkdownPage.js
  src/components/StickyResponsiveSidebar/StickyResponsiveSidebar.js
  src/html.js
  src/pages/index.js
Labels: CLA Signed

#5015 [Beta] Fix/explain console errors
  beta/src/content/learn/editor-setup.md
  beta/src/content/learn/importing-and-exporting-components.md
  beta/src/content/learn/managing-state.md
  beta/src/content/learn/manipulating-the-dom-with-refs.md
  beta/src/content/learn/rendering-lists.md
  beta/src/content/learn/scaling-up-with-reducer-and-context.md
  beta/src/content/learn/sharing-state-between-components.md
  beta/src/content/learn/state-a-components-memory.md
  beta/src/content/learn/thinking-in-react.md
  beta/src/content/learn/writing-markup-with-jsx.md
  beta/src/content/learn/your-first-component.md
Labels: CLA Signed, react core team, beta

#4928 [beta] Added documentation for the useMemo() API reference.
  beta/src/content/apis/react/index.md
  beta/src/content/apis/react/useMemo.md
  beta/src/sidebarReference.json
Labels: CLA Signed, beta

#5019 [Beta] Auto-expand on inline search
  beta/src/components/MDX/ExpandableExample.tsx
  beta/src/styles/index.css
Labels: CLA Signed, react core team, beta

#5004 [Beta] Wrap the period after the link inside the link
  beta/src/content/community/acknowledgements.md
  beta/src/content/community/index.md
  beta/src/content/community/meet-the-team.md
  beta/src/content/index.md
  beta/src/content/learn/add-react-to-a-website.md
  beta/src/content/learn/conditional-rendering.md
  beta/src/content/learn/extracting-state-logic-into-a-reducer.md
  beta/src/content/learn/index.md
  beta/src/content/learn/installation.md
  beta/src/content/learn/keeping-components-pure.md
  beta/src/content/learn/lifecycle-of-reactive-effects.md
  beta/src/content/learn/manipulating-the-dom-with-refs.md
  beta/src/content/learn/passing-data-deeply-with-context.md
  beta/src/content/learn/passing-props-to-a-component.md
  beta/src/content/learn/preserving-and-resetting-state.md
  beta/src/content/learn/queueing-a-series-of-state-updates.md
  beta/src/content/learn/reacting-to-input-with-state.md
  beta/src/content/learn/referencing-values-with-refs.md
  beta/src/content/learn/removing-effect-dependencies.md
  beta/src/content/learn/render-and-commit.md
  beta/src/content/learn/rendering-lists.md
  beta/src/content/learn/responding-to-events.md
  beta/src/content/learn/reusing-logic-with-custom-hooks.md
  beta/src/content/learn/scaling-up-with-reducer-and-context.md
  beta/src/content/learn/separating-events-from-effects.md
  beta/src/content/learn/sharing-state-between-components.md
  beta/src/content/learn/start-a-new-react-project.md
  beta/src/content/learn/state-a-components-memory.md
  beta/src/content/learn/synchronizing-with-effects.md
  beta/src/content/learn/thinking-in-react.md
  beta/src/content/learn/updating-arrays-in-state.md
  beta/src/content/learn/updating-objects-in-state.md
  beta/src/content/learn/writing-markup-with-jsx.md
  beta/src/content/learn/you-might-not-need-an-effect.md
  beta/src/content/learn/your-first-component.md
Labels: CLA Signed, beta

#5021 [Beta] Move the colon outside the quotation marks
  beta/src/content/learn/extracting-state-logic-into-a-reducer.md
Labels: CLA Signed, beta

#5023 [Beta] Update links
  beta/src/content/learn/reusing-logic-with-custom-hooks.md
  beta/src/content/learn/separating-events-from-effects.md
  beta/src/content/learn/synchronizing-with-effects.md
  beta/src/content/learn/you-might-not-need-an-effect.md
Labels: CLA Signed, beta

#5024 [Beta] Update the link for React Router 6.4+
  beta/src/content/learn/synchronizing-with-effects.md
Labels: CLA Signed, beta

#5025 [Beta] Top bar fixes
  beta/src/components/Layout/Page.tsx
  beta/src/components/SocialBanner.tsx
  beta/src/styles/index.css
Labels: CLA Signed, react core team, beta

#5027 [Beta] Update the effect with a capital letter
  beta/src/content/learn/escape-hatches.md
  beta/src/content/learn/manipulating-the-dom-with-refs.md
  beta/src/content/learn/synchronizing-with-effects.md
  beta/src/content/learn/you-might-not-need-an-effect.md
Labels: CLA Signed, beta

#5028 [Beta] Prevent text overflow
  beta/src/components/Layout/Page.tsx
  beta/src/styles/index.css
Labels: CLA Signed, react core team, beta

#5029 [Beta] Avoid grey screen on Safari iOS swipe
  beta/src/pages/_app.tsx
Labels: CLA Signed, react core team, beta

#5030 [Beta] Update the `useSyncExternalStore` link
  beta/src/content/learn/you-might-not-need-an-effect.md
Labels: CLA Signed, beta

#5033 [Beta] Upgrade Sandpack
  beta/package.json
  beta/patches/@codesandbox+sandpack-react+0.19.8-experimental.4.patch
  beta/src/components/MDX/CodeBlock/CodeBlock.tsx
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
  beta/src/components/MDX/Sandpack/NavigationBar.tsx
  beta/src/components/MDX/Sandpack/Preview.tsx
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
  beta/src/components/MDX/Sandpack/Themes.tsx
  beta/src/components/MDX/Sandpack/index.tsx
  beta/src/pages/_app.tsx
  beta/src/pages/_document.tsx
  beta/src/styles/sandpack.css
  beta/yarn.lock
Labels: CLA Signed, react core team, beta

#5034 [Beta] Update some document content format
  beta/src/content/learn/reusing-logic-with-custom-hooks.md
Labels: CLA Signed, beta

#5035 [Beta] Remove `useEvent` link
  beta/src/content/apis/react/useEvent.md
  beta/src/content/learn/separating-events-from-effects.md
  beta/src/sidebarReference.json
Labels: CLA Signed, beta

#5036 Paths on windows
  beta/src/pages/[[...markdownPath]].js
Labels: CLA Signed, beta

#5038 [Beta] Update link
  beta/src/content/learn/thinking-in-react.md
Labels: CLA Signed, beta

#5032 [Beta] Fix navigation sticky failure
  beta/src/styles/index.css
Labels: CLA Signed, beta

#5041 [Beta] Fix HTML layout shift
  beta/src/components/Layout/Page.tsx
  beta/tailwind.config.js
Labels: CLA Signed, react core team, beta

#5047 [Beta] Move period outside quotation marks
  beta/src/content/learn/extracting-state-logic-into-a-reducer.md
  beta/src/content/learn/reacting-to-input-with-state.md
  beta/src/content/learn/removing-effect-dependencies.md
  beta/src/content/learn/synchronizing-with-effects.md
  beta/src/content/learn/updating-objects-in-state.md
Labels: CLA Signed, beta

#5046 [Beta] Add TODO for some links
  beta/src/content/learn/responding-to-events.md
  beta/src/content/learn/state-a-components-memory.md
  beta/src/content/learn/updating-arrays-in-state.md
  beta/src/content/learn/updating-objects-in-state.md
Labels: CLA Signed, beta

#5045 [Beta] Fix the blank page displayed when the page navigate
  beta/src/components/SocialBanner.tsx
Labels: CLA Signed, beta

#5051 [Beta] Expand useMemo documentation
  beta/src/content/apis/react/useMemo.md
Labels: CLA Signed, react core team, beta

#5052 [Beta] Split ReactDOM APIs
  beta/src/content/apis/react-dom/client/index.md
  beta/src/content/apis/react-dom/index.md
  beta/src/content/apis/react-dom/server/index.md
  beta/src/content/apis/react/index.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#5053 [Beta] Changed the position of the period in API Doc
  beta/src/content/apis/react-dom/client/createRoot.md
  beta/src/content/apis/react-dom/client/hydrateRoot.md
  beta/src/content/apis/react-dom/client/index.md
  beta/src/content/apis/react-dom/createPortal.md
  beta/src/content/apis/react-dom/findDOMNode.md
  beta/src/content/apis/react-dom/flushSync.md
  beta/src/content/apis/react-dom/hydrate.md
  beta/src/content/apis/react-dom/index.md
  beta/src/content/apis/react-dom/render.md
  beta/src/content/apis/react-dom/server/index.md
  beta/src/content/apis/react-dom/server/renderToNodeStream.md
  beta/src/content/apis/react-dom/server/renderToPipeableStream.md
  beta/src/content/apis/react-dom/server/renderToReadableStream.md
  beta/src/content/apis/react-dom/server/renderToStaticMarkup.md
  beta/src/content/apis/react-dom/server/renderToStaticNodeStream.md
  beta/src/content/apis/react-dom/server/renderToString.md
  beta/src/content/apis/react-dom/unmountComponentAtNode.md
  beta/src/content/apis/react/Children.md
  beta/src/content/apis/react/Component.md
  beta/src/content/apis/react/Fragment.md
  beta/src/content/apis/react/PureComponent.md
  beta/src/content/apis/react/StrictMode.md
  beta/src/content/apis/react/Suspense.md
  beta/src/content/apis/react/cloneElement.md
  beta/src/content/apis/react/createContext.md
  beta/src/content/apis/react/createElement.md
  beta/src/content/apis/react/createFactory.md
  beta/src/content/apis/react/createRef.md
  beta/src/content/apis/react/forwardRef.md
  beta/src/content/apis/react/index.md
  beta/src/content/apis/react/isValidElement.md
  beta/src/content/apis/react/lazy.md
  beta/src/content/apis/react/memo.md
  beta/src/content/apis/react/startTransition.md
  beta/src/content/apis/react/useCallback.md
  beta/src/content/apis/react/useContext.md
  beta/src/content/apis/react/useDebugValue.md
  beta/src/content/apis/react/useDeferredValue.md
  beta/src/content/apis/react/useEffect.md
  beta/src/content/apis/react/useEvent.md
  beta/src/content/apis/react/useId.md
  beta/src/content/apis/react/useImperativeHandle.md
  beta/src/content/apis/react/useInsertionEffect.md
  beta/src/content/apis/react/useLayoutEffect.md
  beta/src/content/apis/react/useMemo.md
  beta/src/content/apis/react/useReducer.md
  beta/src/content/apis/react/useRef.md
  beta/src/content/apis/react/useState.md
  beta/src/content/apis/react/useSyncExternalStore.md
  beta/src/content/apis/react/useTransition.md
Labels: CLA Signed, beta

#5060 [Beta] Fix double console logs in DEV
  beta/src/components/MDX/Sandpack/Console.tsx
Labels: CLA Signed, react core team, beta

#5061 [Beta] useCallback
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
  beta/src/content/apis/react/useCallback.md
  beta/src/content/apis/react/useMemo.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#5056 [Beta] Update links and add fix MD syntax error in react-dom/client Doc
  beta/src/content/apis/react-dom/client/createRoot.md
  beta/src/content/apis/react-dom/client/index.md
Labels: CLA Signed, beta

#5054 [Beta] Update links and add semicolons in API/react Doc
  beta/src/content/apis/react/Suspense.md
  beta/src/content/apis/react/index.md
  beta/src/content/apis/react/useContext.md
  beta/src/content/apis/react/useReducer.md
  beta/src/content/apis/react/useRef.md
Labels: CLA Signed, beta

#5058 Move React Native EU 2022 to Past Conferences
  content/community/conferences.md
Labels: CLA Signed

#5055 [Beta] Update links in API/react-dom Doc
  beta/src/content/apis/react-dom/render.md
Labels: CLA Signed, beta

#5039 [Beta] Update `Describing the UI` Doc content format
  beta/src/content/learn/conditional-rendering.md
  beta/src/content/learn/javascript-in-jsx-with-curly-braces.md
  beta/src/content/learn/keeping-components-pure.md
  beta/src/content/learn/writing-markup-with-jsx.md
Labels: CLA Signed, beta

#5063 [beta] Remove 'each next' and 'every next'
  beta/src/content/apis/react/useCallback.md
  beta/src/content/apis/react/useMemo.md
  beta/src/content/learn/reusing-logic-with-custom-hooks.md
  beta/src/content/learn/separating-events-from-effects.md
  beta/src/content/learn/you-might-not-need-an-effect.md
Labels: CLA Signed, beta

#5064 [Beta] Edits for useCallback
  beta/src/content/apis/react-dom/client/createRoot.md
  beta/src/content/apis/react/useCallback.md
  beta/src/content/apis/react/useMemo.md
Labels: CLA Signed, react core team, beta

#4930 [beta] Add flushSync docs
  beta/src/content/apis/react-dom/flushSync.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#5067 [Beta] Fragment edits
  beta/src/content/apis/react/Fragment.md
  beta/src/content/learn/rendering-lists.md
  beta/src/content/learn/writing-markup-with-jsx.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#5068 [Beta] forwardRef API
  beta/src/content/apis/react/forwardRef.md
  beta/src/content/apis/react/useRef.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#4955 [Beta] Initial API doc for Suspense
  beta/src/content/apis/react/Suspense.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#5069 [Beta] lazy API
  beta/src/content/apis/react/Suspense.md
  beta/src/content/apis/react/lazy.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#5070 [Beta] Ensure forwardRef API docs use pattern that ensures a display name
  beta/src/content/apis/react/forwardRef.md
Labels: CLA Signed, beta

#5059 [beta] Added memo API reference page
  beta/src/content/apis/react/memo.md
  beta/src/sidebarReference.json
Labels: CLA Signed, beta

#5071 [Beta] Fix you-might-not-need-an-effect.md challenge 4 expected output
  beta/src/content/learn/you-might-not-need-an-effect.md
Labels: CLA Signed, beta

#5075 Small typo fix with forwardRef
  beta/src/content/apis/react/index.md
Labels: CLA Signed, beta

#5077 [Beta]: fix typo on you-might-not-need-an-effect
  beta/src/content/learn/you-might-not-need-an-effect.md
Labels: CLA Signed, beta

#5080 reactjsday-verona-italy-2022
  content/community/conferences.md
Labels: CLA Signed

#4988 updating upcoming React conferences
  content/community/conferences.md
Labels: CLA Signed

#5087 [Beta] useMemo & useCallback edits
  beta/src/content/apis/react/useCallback.md
  beta/src/content/apis/react/useMemo.md
Labels: CLA Signed, react core team, beta

#5088 [Beta] lifecycle-of-reactive-effects : Removed extra closing curly braces from challenge 5
  beta/src/content/learn/lifecycle-of-reactive-effects.md
Labels: CLA Signed, beta

#5090 [Beta] Unified api format
  beta/src/content/apis/react/forwardRef.md
Labels: CLA Signed, beta

#5093 [Beta] fix(SandpackConsole): avoid unsubscribing the logs listeners
  beta/src/components/MDX/Sandpack/Console.tsx
  beta/src/components/MDX/Sandpack/Preview.tsx
Labels: CLA Signed, beta

#5092 react-global-22.v2
  content/community/conferences.md
Labels: CLA Signed

#5095 removed unused useState from the code example in synchronizing-with-effects
  beta/src/content/learn/synchronizing-with-effects.md
Labels: CLA Signed, beta

#5096 [Beta] Fix/extracting state logic into a reducer typo
  beta/src/content/learn/extracting-state-logic-into-a-reducer.md
Labels: CLA Signed, beta

#5098 [Beta] build: ignore markdown files in content
  beta/.prettierignore
Labels: CLA Signed

#5089 [beta] Update CodeStep colors
  beta/src/components/MDX/CodeBlock/CodeBlock.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/styles/index.css
Labels: CLA Signed, react core team, beta

#5100 [Beta] Use React versions from package.json
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
Labels: CLA Signed, react core team, beta

#5101 [Beta] Remove inline useEvent impl
  beta/src/content/learn/escape-hatches.md
  beta/src/content/learn/removing-effect-dependencies.md
  beta/src/content/learn/reusing-logic-with-custom-hooks.md
  beta/src/content/learn/separating-events-from-effects.md
Labels: CLA Signed, react core team, beta

#5102 [Beta] Remove linter TODOs
  beta/package.json
  beta/src/content/learn/escape-hatches.md
  beta/src/content/learn/removing-effect-dependencies.md
  beta/src/content/learn/reusing-logic-with-custom-hooks.md
  beta/src/content/learn/separating-events-from-effects.md
  beta/yarn.lock
Labels: CLA Signed, react core team, beta

#5105 [Beta] Bump React/Next
  beta/package.json
  beta/src/components/MDX/Sandpack/NavigationBar.tsx
  beta/yarn.lock
Labels: CLA Signed, react core team, beta

#5106 [Beta] Force SSG failure on all rendering errors
  beta/patches/next+12.3.2-canary.7.patch
Labels: CLA Signed, react core team, beta

#5107 [Beta] Upgrade to MDX 2
  beta/next.config.js
  beta/package.json
  beta/plugins/remark-header-custom-ids.js
  beta/scripts/headingIDHelpers/generateHeadingIDs.js
  beta/src/components/MDX/CodeBlock/CodeBlock.tsx
  beta/src/components/MDX/CodeBlock/index.tsx
  beta/src/components/MDX/CodeDiagram.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/components/MDX/PackageImport.tsx
  beta/src/components/MDX/Sandpack/createFileMap.ts
  beta/src/content/apis/react/useContext.md
  beta/src/content/blog/2014/02/16/react-v0.9-rc1.md
  beta/src/content/blog/2014/02/20/react-v0.9.md
  beta/src/content/blog/2014/03/19/react-v0.10-rc1.md
  beta/src/content/blog/2014/03/21/react-v0.10.md
  beta/src/content/blog/2014/07/13/react-v0.11-rc1.md
  beta/src/content/blog/2014/07/17/react-v0.11.md
  beta/src/content/blog/2014/07/25/react-v0.11.1.md
  beta/src/content/blog/2014/08/03/community-roundup-21.md
  beta/src/content/blog/2014/09/03/introducing-the-jsx-specification.md
  beta/src/content/blog/2014/09/16/react-v0.11.2.md
  beta/src/content/blog/2014/10/16/react-v0.12-rc1.md
  beta/src/content/blog/2014/10/28/react-v0.12.md
  beta/src/content/blog/2014/12/18/react-v0.12.2.md
  beta/src/content/blog/2014/12/19/react-js-conf-diversity-scholarship.md
  beta/src/content/blog/2015/02/24/react-v0.13-rc1.md
  beta/src/content/blog/2015/02/24/streamlining-react-elements.md
  beta/src/content/blog/2015/03/03/react-v0.13-rc2.md
  beta/src/content/blog/2015/03/10/react-v0.13.md
  beta/src/content/blog/2015/03/16/react-v0.13.1.md
  beta/src/content/blog/2015/04/18/react-v0.13.2.md
  beta/src/content/blog/2015/05/08/react-v0.13.3.md
  beta/src/content/blog/2015/09/10/react-v0.14-rc1.md
  beta/src/content/blog/2015/10/07/react-v0.14.md
  beta/src/content/blog/2015/10/28/react-v0.14.1.md
  beta/src/content/blog/2015/11/02/react-v0.14.2.md
  beta/src/content/blog/2015/11/18/react-v0.14.3.md
  beta/src/content/blog/2015/12/04/react-js-conf-2016-diversity-scholarship.md
  beta/src/content/blog/2015/12/29/react-v0.14.4.md
  beta/src/content/blog/2016/03/07/react-v15-rc1.md
  beta/src/content/blog/2016/03/16/react-v15-rc2.md
  beta/src/content/blog/2016/03/29/react-v0.14.8.md
  beta/src/content/blog/2016/04/07/react-v15.md
  beta/src/content/blog/2016/04/08/react-v15.0.1.md
  beta/src/content/community/index.md
  beta/src/content/learn/referencing-values-with-refs.md
  beta/src/content/learn/responding-to-events.md
  beta/src/content/learn/scaling-up-with-reducer-and-context.md
  beta/src/content/learn/updating-arrays-in-state.md
  beta/src/pages/[[...markdownPath]].js
  beta/yarn.lock
Labels: CLA Signed, react core team, beta

#5108 Added RenderATL 2023
  content/community/conferences.md
Labels: CLA Signed

#5111 [Beta] Fix Typo in 'Updating Arrays in State'
  beta/src/content/learn/updating-arrays-in-state.md
Labels: CLA Signed, beta

#5110 [Beta] Fully SSR CodeBlock
  beta/src/components/MDX/CodeBlock/CodeBlock.tsx
  beta/src/styles/sandpack.css
Labels: CLA Signed, react core team, beta

#5113 [Beta] Optimize editor re-renders
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
Labels: CLA Signed, react core team, beta

#5114 [Beta] Fix some CSS
  beta/src/components/MDX/CodeBlock/CodeBlock.tsx
  beta/src/components/MDX/Sandpack/index.tsx
  beta/src/styles/sandpack.css
Labels: CLA Signed, react core team, beta

#5117 [Beta] Remove unused prop from context examples
  beta/src/content/apis/react/useContext.md
  beta/src/content/learn/scaling-up-with-reducer-and-context.md
Labels: CLA Signed, beta

#5119 [Beta] fix typo in useMemo() documentation
  beta/src/content/apis/react/useMemo.md
Labels: CLA Signed, beta

#5122 [Beta] Disable runtime CSS-in-JS
  beta/src/pages/_app.tsx
  beta/src/pages/_document.tsx
Labels: CLA Signed, react core team, beta

#5123 [Beta] Exclude Markdown parser
  beta/next.config.js
  beta/src/utils/codemirrorMarkdownShim.js
Labels: CLA Signed, react core team, beta

#5128 [Beta] Fix header IDs
  beta/plugins/remark-header-custom-ids.js
  beta/scripts/headingIDHelpers/generateHeadingIDs.js
  beta/scripts/headingIDHelpers/validateHeadingIDs.js
  beta/src/components/MDX/Convention.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/content/apis/react-dom/client/createRoot.md
  beta/src/content/apis/react-dom/client/hydrateRoot.md
  beta/src/content/apis/react/forwardRef.md
  beta/src/content/apis/react/memo.md
  beta/src/content/blog/2016/04/07/react-v15.md
  beta/src/content/blog/2019/08/08/react-v16.9.0.md
  beta/src/content/blog/2020/02/26/react-v16.13.0.md
  beta/src/content/learn/extracting-state-logic-into-a-reducer.md
  beta/src/content/learn/start-a-new-react-project.md
  beta/src/pages/[[...markdownPath]].js
Labels: CLA Signed, react core team, beta

#5103 [Beta] useEffect API
  beta/src/content/apis/react/useEffect.md
  beta/src/content/learn/synchronizing-with-effects.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#5132 [Beta] Don't nest components
  beta/src/content/learn/your-first-component.md
Labels: CLA Signed, react core team, beta

#5133 [Beta] Add a survey
  beta/src/components/Layout/Footer.tsx
  beta/src/content/index.md
Labels: CLA Signed, react core team, beta

#5134 Point old site banner at Beta docs
  src/components/SocialBanner/SocialBanner.js
Labels: CLA Signed, react core team

#5135 Fix React Router 6.4+ link
  beta/src/content/apis/react/useEffect.md
  beta/src/content/learn/synchronizing-with-effects.md
Labels: CLA Signed, beta
