Repository reactjs/react.dev, pull requests merged in 2022-11, with the labels that each got.

#5224 [Beta] fix useMemo API doc error.
  beta/src/content/apis/react/useMemo.md
Labels: beta

#5222 Fix typo
  beta/src/content/learn/index.md
Labels: beta

#5213 fix #5212
  beta/src/content/apis/react/useCallback.md
Labels: CLA Signed, beta

#5247 [Beta] fix(sandpack): revert minimal babel implementation
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
Labels: CLA Signed, beta

#5248 Add App.js Conf 2023 to the conferences page
  content/community/conferences.md
Labels: CLA Signed

#5249 chore: move conf
  content/community/conferences.md
Labels: CLA Signed

#5245 [Beta] Fix createContext href in React APIs
  beta/src/content/apis/react/index.md
Labels: beta

#5211 fix #5210
  beta/src/content/apis/react/memo.md
Labels: CLA Signed, beta

#5234 [Beta] Add missing styles to search box in modal
  beta/src/styles/algolia.css
Labels: beta

#5260 docs: Fix a broken link, add a missing quote
  beta/src/content/apis/react/Children.md
  beta/src/content/apis/react/useState.md
Labels: CLA Signed, beta

#5265 [Beta] Remove remaining use of embed: scheme
  beta/src/content/blog/2018/03/27/update-on-async-rendering.md
  beta/src/content/blog/2018/03/29/react-v-16-3.md
Labels: CLA Signed, react core team, beta

#5266 Update with correct index incrementation
  beta/src/content/learn/state-a-components-memory.md
Labels: CLA Signed, beta

#5267 [Beta] Fix toc overflow
  beta/src/components/MDX/Link.tsx
Labels: CLA Signed, react core team, beta

#5196 [Beta] React.Component API
  beta/src/content/apis/react/Component.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#5268 [Beta] Update text with cloneElement
  beta/src/content/apis/react/cloneElement.md
Labels: beta

#5270 [Beta] createRef API
  beta/src/content/apis/react/createRef.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#5271 [Beta] PureComponent API
  beta/src/content/apis/react/PureComponent.md
  beta/src/content/apis/react/memo.md
  beta/src/sidebarReference.json
Labels: CLA Signed

#5272 [Beta] useDebugValue API
  beta/public/images/docs/react-devtools-usedebugvalue.png
  beta/src/content/apis/react/useDebugValue.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team

#5277 [Beta] Fix Defining frameId in useAnimationLoop
  beta/src/content/learn/reusing-logic-with-custom-hooks.md
Labels: beta

#5275 Added undefined to in the list of possible return types of render function
  content/docs/reference-react-component.md
Labels: CLA Signed

#5279 Fix typo in bookmark
  beta/src/content/apis/react/memo.md
Labels: beta

#5294 fix: Use relative LICENSE-DOCS path in README
  README.md
Labels: CLA Signed

#5287 [Beta] Revamp navigation
  beta/src/components/Layout/MarkdownPage.tsx
  beta/src/components/Layout/Nav/Nav.tsx
  beta/src/components/Layout/Page.tsx
  beta/src/components/Layout/Sidebar/SidebarRouteTree.tsx
  beta/src/components/Layout/useRouteMeta.tsx
  beta/src/content/apis/react-dom/client/index.md
  beta/src/content/apis/react-dom/index.md
  beta/src/content/apis/react-dom/legacy.md
  beta/src/content/apis/react-dom/server/index.md
  beta/src/content/apis/react/index.md
  beta/src/content/apis/react/legacy.md
  beta/src/content/apis/react/other.md
  beta/src/content/index.md
  beta/src/content/learn/acknowledgements.md
  beta/src/content/learn/community.md
  beta/src/content/learn/meet-the-team.md
  beta/src/hooks/useActiveSection.ts
  beta/src/sidebarAPIs.json
  beta/src/sidebarHome.json
  beta/src/sidebarLearn.json
Labels: CLA Signed, react core team, beta

#5300 Add ReactNext 2023
  content/community/conferences.md
Labels: CLA Signed

#5302 Fix key error
  beta/src/components/Layout/Sidebar/SidebarRouteTree.tsx
Labels: CLA Signed, beta
