Repository reactjs/react.dev, pull requests merged in 2022-08, with the labels that each got.

#4850 Accessibility update color contrast
  src/theme.js
Labels: CLA Signed

#4863 Fix event links for React Brussels 2022
  content/community/conferences.md
Labels: CLA Signed

#4848 [beta] refactor: remove unused state
  beta/src/components/Search.tsx
Labels: CLA Signed, beta

#4870 Fix a typo
  content/docs/hooks-reference.md
Labels: CLA Signed

#4872 fixed having duplicate tailwind classes in pages/blog
  beta/src/pages/blog/index.tsx
Labels: CLA Signed, beta

#4867 Fix Robin Pokorny’s article link
  content/docs/lists-and-keys.md
Labels: CLA Signed

#4844 Reword "Invalid ARIA Prop Warning" advice
  content/warnings/invalid-aria-prop.md
Labels: CLA Signed

#4875 [Beta] Lifecycle of Reactive Effects
  beta/src/pages/learn/lifecycle-of-reactive-effects.md
  beta/src/pages/learn/synchronizing-with-effects.md
  beta/src/pages/learn/updating-objects-in-state.md
  beta/src/pages/learn/you-might-not-need-an-effect.md
  beta/src/sidebarLearn.json
Labels: CLA Signed, react core team, beta

#4876 fix: typo
  beta/src/pages/learn/you-might-not-need-an-effect.md
Labels: CLA Signed, beta

#4879 fix: update sinon fake timers broken link
  content/docs/testing-environments.md
Labels: CLA Signed

#4878 fix: update immutable js broken link
  content/docs/reference-react.md
Labels: CLA Signed

#4881 [Beta] fixed grammatical typo in render-and-commit.md
  beta/src/pages/learn/render-and-commit.md
Labels: CLA Signed, beta

#4885 fix: update all immutable js broken link
  content/docs/addons-pure-render-mixin.md
  content/docs/addons-update.md
  content/docs/reference-pure-render-mixin.md
Labels: CLA Signed

#4827 Update meetups.md
  content/community/meetups.md
Labels: CLA Signed

#4758 Change plural sentence to singular
  content/docs/reconciliation.md
Labels: CLA Signed

#4880 Rephrase sentence
  content/docs/reference-react-component.md
Labels: CLA Signed

#4886 Update index.md
  beta/src/pages/learn/index.md
Labels: CLA Signed, beta

#4891 [Beta] fixed incorrect function name in React.memo for IconDownload icon component
  beta/src/components/Icon/IconDownload.tsx
Labels: CLA Signed, beta

#4898 Remove the redundant code from "Challenge 2 of 4: Fix a broken packing list" at the choosing-the-state-structure page
  beta/src/pages/learn/choosing-the-state-structure.md
Labels: CLA Signed, beta

#4899 Add Robert Zhang
  beta/src/pages/community/acknowledgements.md
  content/community/team.md
Labels: CLA Signed, beta

#4897 Fix comma position
  beta/src/pages/learn/keeping-components-pure.md
Labels: CLA Signed, beta

#4909 [Beta] Add ReactDOM Client APIs
  beta/src/pages/apis/createRoot.md
  beta/src/pages/apis/hydrateRoot.md
  beta/src/pages/apis/reactdomclient.md
  beta/src/pages/apis/render.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#4913 [Beta] Separating Events from Effects
  beta/src/pages/learn/lifecycle-of-reactive-effects.md
  beta/src/pages/learn/separating-events-from-effects.md
  beta/src/pages/learn/you-might-not-need-an-effect.md
  beta/src/sidebarLearn.json
Labels: CLA Signed, react core team, beta

#4914 [beta] Add docs for old hydrate API
  beta/src/pages/apis/react-dom/hydrate.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#4922 [Beta] Add more challenges
  beta/src/pages/learn/separating-events-from-effects.md
Labels: CLA Signed, react core team, beta

#4937 Fix hydrate root link
  beta/src/pages/apis/react-dom/hydrate.md
Labels: CLA Signed, beta

#4927 Create Fragment API reference page
  beta/src/pages/apis/react/Fragment.md
  beta/src/sidebarReference.json
Labels: CLA Signed, beta

#4936 [Beta] Removing Effect Dependencies
  beta/src/pages/learn/removing-effect-dependencies.md
  beta/src/pages/learn/separating-events-from-effects.md
  beta/src/sidebarLearn.json
Labels: CLA Signed, react core team, beta

#4938 fix typos
  beta/src/pages/learn/removing-effect-dependencies.md
  beta/src/pages/learn/separating-events-from-effects.md
Labels: CLA Signed, beta

#4945 Update scaling-up-with-reducer-and-context.md
  beta/src/pages/learn/scaling-up-with-reducer-and-context.md
Labels: CLA Signed, beta

#4843 [beta] upgrade sandpack and refactor sandpack.css
  beta/package.json
  beta/patches/@codesandbox+sandpack-react+0.19.8-experimental.4.patch
  beta/src/components/MDX/CodeBlock/CodeBlock.tsx
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
  beta/src/components/MDX/Sandpack/FilesDropdown.tsx
  beta/src/components/MDX/Sandpack/NavigationBar.tsx
  beta/src/components/MDX/Sandpack/Preview.tsx
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
  beta/src/components/MDX/Sandpack/Themes.tsx
  beta/src/components/MDX/Sandpack/index.tsx
  beta/src/pages/_app.tsx
  beta/src/pages/_document.tsx
  beta/src/pages/learn/index.md
  beta/src/styles/sandpack.css
  beta/yarn.lock
Labels: CLA Signed, beta
