Repository reactjs/react.dev, pull requests merged in 2022-03, with the labels that each got.

#4379 [Beta] Delete unused variables
  beta/src/components/Icon/IconChevron.tsx
  beta/src/components/Icon/IconNavArrow.tsx
  beta/src/components/Layout/Sidebar/Sidebar.tsx
  beta/src/components/MDX/CodeBlock/CodeBlock.tsx
  beta/src/components/MDX/Intro.tsx
  beta/src/components/MDX/Link.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/components/MDX/Sandpack/ResetButton.tsx
  beta/src/components/MDX/Sandpack/utils.ts
  beta/src/components/useMenu.tsx
  beta/src/pages/_app.tsx
  beta/src/pages/_document.tsx
Labels: CLA Signed, beta

#4397 docs: Adding Social Banner in Support of Ukraine
  beta/src/components/Layout/Page.tsx
  beta/src/components/SocialBanner.tsx
  src/components/LayoutHeader/Header.js
  src/components/MarkdownHeader/MarkdownHeader.js
  src/components/MarkdownPage/MarkdownPage.js
  src/components/SocialBanner/SocialBanner.js
  src/components/SocialBanner/index.js
  src/components/StickyResponsiveSidebar/StickyResponsiveSidebar.js
  src/components/SurveyBanner/SurveyBanner.js
  src/components/SurveyBanner/index.js
  src/html.js
Labels: CLA Signed, beta

#4435 Fixes for banner on beta
  beta/src/components/Layout/Page.tsx
  beta/src/components/Layout/Toc.tsx
  beta/src/components/SocialBanner.tsx
Labels: CLA Signed, react core team, beta

#4384 React 18 RC - Upgrade Guide
  beta/src/pages/learn/writing-markup-with-jsx.md
  content/blog/2022-03-08-react-18-upgrade-guide.md
Labels: CLA Signed, react core team, beta

#4452 Fixes linting issues
  src/components/SocialBanner/SocialBanner.js
Labels: CLA Signed

#4454 Add Xuan to team page
  beta/public/images/team/huxpro.jpg
  beta/src/pages/community/meet-the-team.md
  content/community/team.md
  content/images/team/huxpro.jpg
Labels: CLA Signed, beta

#4451 Fixes survey
  beta/src/components/Layout/Page.tsx
Labels: CLA Signed, beta

#4457 Update invalid-aria-prop.md
  content/warnings/invalid-aria-prop.md
Labels: CLA Signed

#4343 Updated Render-Atlanta 2022
  content/community/conferences.md
Labels: CLA Signed

#4390 Add diagrams for "Putting markup into JavaScript"
  beta/public/images/docs/diagrams/writing_jsx_form.dark.svg
  beta/public/images/docs/diagrams/writing_jsx_form.svg
  beta/public/images/docs/diagrams/writing_jsx_html.dark.svg
  beta/public/images/docs/diagrams/writing_jsx_html.svg
  beta/public/images/docs/diagrams/writing_jsx_js.dark.svg
  beta/public/images/docs/diagrams/writing_jsx_js.svg
  beta/public/images/docs/diagrams/writing_jsx_sidebar.dark.svg
  beta/public/images/docs/diagrams/writing_jsx_sidebar.svg
  beta/src/components/MDX/Diagram.tsx
  beta/src/components/MDX/DiagramGroup.tsx
  beta/src/pages/learn/writing-markup-with-jsx.md
Labels: CLA Signed, react core team, beta

#4394 Add diagrams for passing props with context
  beta/public/images/docs/diagrams/passing_data_context_close.dark.svg
  beta/public/images/docs/diagrams/passing_data_context_close.svg
  beta/public/images/docs/diagrams/passing_data_context_far.dark.svg
  beta/public/images/docs/diagrams/passing_data_context_far.svg
  beta/public/images/docs/diagrams/passing_data_lifting_state.dark.svg
  beta/public/images/docs/diagrams/passing_data_lifting_state.svg
  beta/public/images/docs/diagrams/passing_data_prop_drilling.dark.svg
  beta/public/images/docs/diagrams/passing_data_prop_drilling.svg
  beta/src/components/MDX/Diagram.tsx
  beta/src/components/MDX/DiagramGroup.tsx
  beta/src/pages/learn/passing-data-deeply-with-context.md
Labels: CLA Signed, react core team, beta

#4434 Add diagram to Reacting to Input with State
  beta/public/images/docs/diagrams/responding_to_input_flow.dark.svg
  beta/public/images/docs/diagrams/responding_to_input_flow.svg
  beta/public/images/docs/sketches/s_flow-chart.jpg
  beta/src/pages/learn/reacting-to-input-with-state.md
Labels: CLA Signed, react core team, beta

#4441 [Beta] useReducer API
  beta/src/pages/apis/usereducer.md
  beta/src/pages/apis/usestate.md
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#4461 Update tutorial.md
  content/tutorial/tutorial.md
Labels: CLA Signed

#4459 Update conferences.md
  content/community/conferences.md
Labels: CLA Signed

#4340 [18] ReactDOM reference to createRoot/hydrateRoot
  content/docs/reference-react-dom.md
Labels: CLA Signed, react core team

#4465 Add React Native EU to upcoming conferences
  content/community/conferences.md
Labels: CLA Signed

#4463 Moved older conference to past conference and standardised dates
  content/community/conferences.md
Labels: CLA Signed

#4466 Update code sandboxes
  beta/src/pages/blog/2020/02/26/react-v16.13.0.md
  content/blog/2020-02-26-react-v16.13.0.md
  content/docs/concurrent-mode-patterns.md
  content/docs/concurrent-mode-suspense.md
Labels: CLA Signed, react core team

#4468 [18] Update ReactDOMClient docs
  beta/src/pages/apis/reactdom.md
  content/docs/nav.yml
  content/docs/reference-react-dom-client.md
  content/docs/reference-react-dom.md
Labels: CLA Signed, react core team, beta

#4469 [18] Update home page examples
  content/home/examples/a-component-using-external-plugins.js
  content/home/examples/a-simple-component.js
  content/home/examples/a-stateful-component.js
  content/home/examples/an-application.js
  src/components/CodeEditor/CodeEditor.js
Labels: CLA Signed, react core team

#4439 Add diagrams for Preserving and Resetting State
  beta/public/images/docs/diagrams/preserving_state_add_component.dark.svg
  beta/public/images/docs/diagrams/preserving_state_add_component.svg
  beta/public/images/docs/diagrams/preserving_state_diff_position_p1.dark.svg
  beta/public/images/docs/diagrams/preserving_state_diff_position_p1.svg
  beta/public/images/docs/diagrams/preserving_state_diff_position_p2.dark.svg
  beta/public/images/docs/diagrams/preserving_state_diff_position_p2.svg
  beta/public/images/docs/diagrams/preserving_state_diff_position_p3.dark.svg
  beta/public/images/docs/diagrams/preserving_state_diff_position_p3.svg
  beta/public/images/docs/diagrams/preserving_state_diff_pt1.dark.svg
  beta/public/images/docs/diagrams/preserving_state_diff_pt1.svg
  beta/public/images/docs/diagrams/preserving_state_diff_pt2.dark.svg
  beta/public/images/docs/diagrams/preserving_state_diff_pt2.svg
  beta/public/images/docs/diagrams/preserving_state_diff_same_pt1.dark.svg
  beta/public/images/docs/diagrams/preserving_state_diff_same_pt1.svg
  beta/public/images/docs/diagrams/preserving_state_diff_same_pt2.dark.svg
  beta/public/images/docs/diagrams/preserving_state_diff_same_pt2.svg
  beta/public/images/docs/diagrams/preserving_state_dom_tree.dark.svg
  beta/public/images/docs/diagrams/preserving_state_dom_tree.svg
  beta/public/images/docs/diagrams/preserving_state_increment.dark.svg
  beta/public/images/docs/diagrams/preserving_state_increment.svg
  beta/public/images/docs/diagrams/preserving_state_remove_component.dark.svg
  beta/public/images/docs/diagrams/preserving_state_remove_component.svg
  beta/public/images/docs/diagrams/preserving_state_same_component.dark.svg
  beta/public/images/docs/diagrams/preserving_state_same_component.svg
  beta/public/images/docs/diagrams/preserving_state_tree.dark.svg
  beta/public/images/docs/diagrams/preserving_state_tree.svg
  beta/public/images/docs/illustrations/i_keys-in-trees.png
  beta/public/images/docs/illustrations/i_react-is-blind-to-ui-swap.png
  beta/public/images/docs/sketches/s_jsx-to-tree.png
  beta/public/images/docs/sketches/s_react-dom-tree.png
  beta/public/images/docs/sketches/s_remove-ui.png
  beta/public/images/docs/sketches/s_ui-swap.png
  beta/src/components/MDX/Diagram.tsx
  beta/src/components/MDX/DiagramGroup.tsx
  beta/src/pages/learn/preserving-and-resetting-state.md
Labels: CLA Signed, react core team, beta

#4470 [18] Switch code samples to createRoot
  beta/src/pages/learn/add-react-to-a-website.md
  content/docs/add-react-to-a-website.md
  content/docs/addons-shallow-renderer.md
  content/docs/addons-test-utils.md
  content/docs/components-and-props.md
  content/docs/concurrent-mode-adoption.md
  content/docs/forms.md
  content/docs/handling-events.md
  content/docs/hello-world.md
  content/docs/hooks-faq.md
  content/docs/implementation-notes.md
  content/docs/integrating-with-other-libraries.md
  content/docs/introducing-jsx.md
  content/docs/lists-and-keys.md
  content/docs/portals.md
  content/docs/react-without-es6.md
  content/docs/react-without-jsx.md
  content/docs/reference-glossary.md
  content/docs/reference-javascript-environment-requirements.md
  content/docs/rendering-elements.md
  content/docs/state-and-lifecycle.md
  content/docs/testing-recipes.md
  content/docs/thinking-in-react.md
  content/docs/typechecking-with-proptypes.md
  content/docs/web-components.md
  examples/rendering-elements/render-an-element.js
  examples/rendering-elements/update-rendered-element.js
Labels: CLA Signed, react core team, beta

#4473 [18] Use hydrateRoot and root.unmount.
  content/docs/reference-dom-elements.md
  content/docs/reference-react-dom-server.md
  content/docs/reference-react-dom.md
Labels: CLA Signed, react core team

#4474 [18] Add docs for flushSync
  content/docs/reference-react-dom.md
Labels: CLA Signed, react core team

#4478 [18] Bump version to 18
  content/versions.yml
  src/site-constants.js
Labels: CLA Signed

#4477 [18] Add stubs for new API references
  content/docs/hooks-reference.md
  content/docs/reference-react.md
Labels: CLA Signed, react core team, react-18

#4481 [18] Redirect outdated Concurrent Mode docs
  content/docs/concurrent-mode-adoption.md
  content/docs/concurrent-mode-intro.md
  content/docs/concurrent-mode-patterns.md
  content/docs/concurrent-mode-reference.md
  content/docs/concurrent-mode-suspense.md
  vercel.json
Labels: CLA Signed, react core team

#4482 [18] Update versions page
  content/versions.yml
  src/pages/versions.js
Labels: CLA Signed, react core team

#4483 [18] Update React.lazy docs
  content/docs/code-splitting.md
  content/docs/reference-react.md
Labels: CLA Signed, react core team, react-18

#4487 [18] Add docs for useSyncExternalStore
  content/docs/hooks-reference.md
Labels: CLA Signed, react core team

#4486 [18] Add docs for useInsertionEffect
  content/docs/hooks-reference.md
Labels: CLA Signed, react core team, react-18

#4490 fix typo on page #4472
  beta/src/pages/learn/sharing-state-between-components.md
Labels: CLA Signed, beta

#4493 Update conditional-rendering.md to fix formatting
  content/docs/conditional-rendering.md
Labels: CLA Signed

#4496 Add React Alicante 2022
  content/community/conferences.md
Labels: CLA Signed

#4362 Add Strict Effects to Strict Mode
  content/docs/strict-mode.md
Labels: CLA Signed, react core team, react-18

#4495 docs: update conferences.md. Add a link on a live stream of a conference React Global
  content/community/conferences.md
Labels: CLA Signed

#4498 [18] Update docs for useEffect timing
  content/docs/hooks-reference.md
Labels: CLA Signed, react core team, react-18

#4497 [18] Add docs for useDeferredValue
  content/docs/hooks-reference.md
Labels: CLA Signed, react core team, react-18

#4500 [18] Update suspense docs for unexpected fallbacks
  content/docs/code-splitting.md
  content/docs/reference-react.md
Labels: CLA Signed, react core team, react-18

#4484 [18] Updated Suspense doc with behavior during SSR and Hydration
  content/docs/reference-react.md
Labels: CLA Signed, react core team, react-18

#4505 Rename strict effects / unsafe effects to use the reusable state terminology
  content/docs/strict-mode.md
Labels: CLA Signed

#4479 [18] Add start/useTransition docs
  content/docs/hooks-reference.md
  content/docs/reference-react.md
Labels: CLA Signed, react core team, react-18

#4499 React 18
  beta/src/pages/apis/reactdom.md
  beta/src/pages/learn/add-react-to-a-website.md
  content/authors.yml
  content/blog/2022-03-08-react-18-upgrade-guide.md
  content/blog/2022-03-29-react-v18.md
  content/community/conferences.md
  content/docs/add-react-to-a-website.md
  content/docs/addons-shallow-renderer.md
  content/docs/addons-test-utils.md
  content/docs/code-splitting.md
  content/docs/components-and-props.md
  content/docs/concurrent-mode-adoption.md
  content/docs/concurrent-mode-intro.md
  content/docs/concurrent-mode-patterns.md
  content/docs/concurrent-mode-reference.md
  content/docs/concurrent-mode-suspense.md
  content/docs/forms.md
  content/docs/handling-events.md
  content/docs/hello-world.md
  content/docs/hooks-faq.md
  content/docs/hooks-reference.md
  content/docs/implementation-notes.md
  content/docs/integrating-with-other-libraries.md
  content/docs/introducing-jsx.md
  content/docs/lists-and-keys.md
  content/docs/nav.yml
  content/docs/portals.md
  content/docs/react-without-es6.md
  content/docs/react-without-jsx.md
  content/docs/reference-dom-elements.md
  content/docs/reference-glossary.md
  content/docs/reference-javascript-environment-requirements.md
  content/docs/reference-react-dom-client.md
  content/docs/reference-react-dom-server.md
  content/docs/reference-react-dom.md
  content/docs/reference-react.md
  content/docs/rendering-elements.md
  content/docs/state-and-lifecycle.md
  content/docs/strict-mode.md
  content/docs/testing-recipes.md
  content/docs/thinking-in-react.md
  content/docs/typechecking-with-proptypes.md
  content/docs/web-components.md
  content/home/examples/a-component-using-external-plugins.js
  content/home/examples/a-simple-component.js
  content/home/examples/a-stateful-component.js
  content/home/examples/an-application.js
  content/versions.yml
  examples/rendering-elements/render-an-element.js
  examples/rendering-elements/update-rendered-element.js
  src/components/CodeEditor/CodeEditor.js
  src/pages/versions.js
  src/site-constants.js
  vercel.json
Labels: CLA Signed, react core team, beta, react-18

#4508 Next -> Next.js
  content/blog/2022-03-29-react-v18.md
Labels: CLA Signed

#4509 Fix broken link in blog
  content/blog/2022-03-08-react-18-upgrade-guide.md
Labels: CLA Signed

#4515 Next -> Next.js
  content/blog/2022-03-29-react-v18.md
Labels: CLA Signed

#4516 Fix link on upgrade to version 18 page
  content/blog/2022-03-08-react-18-upgrade-guide.md
Labels: CLA Signed

#4514 Add missing word
  content/blog/2022-03-29-react-v18.md
Labels: CLA Signed

#4517 Document the new consistent Suspense behavior
  content/blog/2022-03-08-react-18-upgrade-guide.md
Labels: CLA Signed, react core team

#4520 Fix usage of useDeferredValue
  content/docs/hooks-reference.md
Labels: CLA Signed

#4519 fix useTransition link
  content/blog/2022-03-29-react-v18.md
Labels: CLA Signed

#4521 Add a note about Strict Mode to release blog post
  content/blog/2022-03-08-react-18-upgrade-guide.md
Labels: CLA Signed, react core team

#4523 Update CDN links for React 18
  content/docs/cdn-links.md
Labels: CLA Signed

#4528 Update CDN links for React 18 on a few more pages
  beta/public/html/single-file-example.html
  beta/src/pages/learn/add-react-to-a-website.md
  content/docs/add-react-to-a-website.md
  content/docs/optimizing-performance.md
  static/html/single-file-example.html
Labels: CLA Signed, beta

#4531 Update StrictMode docs about double logging
  content/docs/strict-mode.md
Labels: CLA Signed, react core team
