Repository reactjs/react.dev, pull requests merged in 2022-05, with the labels that each got.

#4606 ReactNext-2022
  content/community/conferences.md
Labels: CLA Signed

#4609 RactGlobal 2022 moved to past conferences
  content/community/conferences.md
Labels: CLA Signed

#4615 [Beta] Fix variable reference in reacting-to-input-with-state.md
  beta/src/pages/learn/reacting-to-input-with-state.md
Labels: CLA Signed, beta

#4618 Explicitly list what methods are included in unmounting and remounting
  content/docs/strict-mode.md
Labels: CLA Signed

#4627 fix useref: small typo in the code snipped
  beta/src/pages/apis/useref.md
Labels: CLA Signed, beta

#4631 fix(reference-react): typo
  content/docs/reference-react.md
Labels: CLA Signed

#4634 [Beta] Update sandboxes to use 18
  beta/patches/@codesandbox+sandpack-react+0.14.3-experimental.1.patch
Labels: CLA Signed, react core team, beta

#4635 [Beta] Edits for Installation
  beta/src/pages/learn/add-react-to-a-website.md
  beta/src/pages/learn/editor-setup.md
  beta/src/pages/learn/installation.md
  beta/src/pages/learn/react-developer-tools.md
  beta/src/pages/learn/start-a-new-react-project.md
Labels: CLA Signed, react core team, beta

#4636 [Beta] Stylistic nits
  beta/src/pages/learn/adding-interactivity.md
  beta/src/pages/learn/describing-the-ui.md
  beta/src/pages/learn/editor-setup.md
  beta/src/pages/learn/extracting-state-logic-into-a-reducer.md
  beta/src/pages/learn/index.md
  beta/src/pages/learn/keeping-components-pure.md
  beta/src/pages/learn/manipulating-the-dom-with-refs.md
  beta/src/pages/learn/passing-data-deeply-with-context.md
  beta/src/pages/learn/passing-props-to-a-component.md
  beta/src/pages/learn/preserving-and-resetting-state.md
  beta/src/pages/learn/referencing-values-with-refs.md
  beta/src/pages/learn/render-and-commit.md
  beta/src/pages/learn/responding-to-events.md
  beta/src/pages/learn/sharing-state-between-components.md
  beta/src/pages/learn/state-a-components-memory.md
  beta/src/pages/learn/updating-arrays-in-state.md
  beta/src/pages/learn/writing-markup-with-jsx.md
  beta/src/pages/learn/your-first-component.md
Labels: CLA Signed

#4637 [Beta] Delete dead code
  beta/illustrations/import-export.ai
  beta/illustrations/jsx.ai
  beta/plugins/sandbox-templates/cra/package.json
  beta/plugins/sandbox-templates/cra/public/index.html
  beta/plugins/sandbox-templates/cra/src/App.js
  beta/plugins/sandbox-templates/cra/src/index.js
  beta/plugins/sandbox-templates/cra/src/styles.css
Labels: CLA Signed, react core team, beta

#4639 [Beta] Fix JSX diagrams
  beta/public/images/docs/diagrams/writing_jsx_form.dark.svg
  beta/public/images/docs/diagrams/writing_jsx_form.svg
  beta/public/images/docs/diagrams/writing_jsx_html.dark.svg
  beta/public/images/docs/diagrams/writing_jsx_html.svg
  beta/public/images/docs/diagrams/writing_jsx_js.dark.svg
  beta/public/images/docs/diagrams/writing_jsx_js.svg
  beta/public/images/docs/diagrams/writing_jsx_sidebar.dark.svg
  beta/public/images/docs/diagrams/writing_jsx_sidebar.svg
Labels: CLA Signed, react core team, beta

#4641 [Beta] Remove unfinished sketches
  beta/public/images/docs/illustrations/i_ui-snapshot.png
  beta/src/pages/learn/state-as-a-snapshot.md
Labels: CLA Signed, react core team, beta

#4640 Fixes layout shift
  beta/src/components/MDX/ExpandableCallout.tsx
  beta/src/styles/sandpack.css
Labels: CLA Signed, beta

#4644 [Beta] Diagrams for Sharing State
  beta/public/images/docs/diagrams/sharing_state_child.dark.svg
  beta/public/images/docs/diagrams/sharing_state_child.svg
  beta/public/images/docs/diagrams/sharing_state_child_clicked.dark.svg
  beta/public/images/docs/diagrams/sharing_state_child_clicked.svg
  beta/public/images/docs/diagrams/sharing_state_parent.dark.svg
  beta/public/images/docs/diagrams/sharing_state_parent.svg
  beta/public/images/docs/diagrams/sharing_state_parent_clicked.dark.svg
  beta/public/images/docs/diagrams/sharing_state_parent_clicked.svg
  beta/public/images/docs/diagrams/writing_jsx_js.dark.svg
  beta/public/images/docs/diagrams/writing_jsx_js.svg
  beta/public/images/docs/diagrams/writing_jsx_sidebar.dark.svg
  beta/public/images/docs/diagrams/writing_jsx_sidebar.svg
  beta/public/images/docs/sketches/exports.png
  beta/public/images/docs/sketches/s_add-back-ui.png
  beta/public/images/docs/sketches/s_keys-in-trees.png
  beta/public/images/docs/sketches/s_lifting-state-up.png
  beta/public/images/docs/sketches/s_lifting-v-providing.png
  beta/public/images/docs/sketches/s_passing-functions-down.png
  beta/public/images/docs/sketches/s_placeholder-ui.png
  beta/public/images/docs/sketches/s_prop-drilling.png
  beta/public/images/docs/sketches/s_providing-context.png
  beta/public/images/docs/sketches/s_re-rendering.jpg
  beta/public/images/docs/sketches/s_react-batching.jpg
  beta/public/images/docs/sketches/s_react-is-blind-to-ui-swap.png
  beta/public/images/docs/sketches/s_react-ui-response.jpg
  beta/public/images/docs/sketches/s_state-in-tree.png
  beta/public/images/docs/sketches/s_ui-component-swap.png
  beta/public/images/docs/sketches/s_ui-components-swap.png
  beta/public/images/docs/sketches/s_ui-response.jpg
  beta/public/images/docs/sketches/s_ui-snapshots.jpg
  beta/public/images/docs/sketches/s_ui-state-snapshot.jpg
  beta/src/components/MDX/Diagram.tsx
  beta/src/pages/learn/sharing-state-between-components.md
Labels: CLA Signed, react core team, beta

#4665 [Beta] Adds eslint integration on Sandpack
  beta/package.json
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
  beta/src/components/MDX/Sandpack/Error.tsx
  beta/src/components/MDX/Sandpack/Preview.tsx
  beta/src/components/MDX/Sandpack/eslint-integration.tsx
  beta/src/components/MDX/Sandpack/utils.ts
  beta/src/styles/sandpack.css
  beta/yarn.lock
Labels: CLA Signed, beta

#4458 [beta] Sandpack - new bundler
  .nvmrc
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
Labels: CLA Signed, beta

#4666 [Beta] Fix error precedence
  beta/src/components/MDX/Sandpack/Error.tsx
  beta/src/components/MDX/Sandpack/Preview.tsx
  beta/src/components/MDX/Sandpack/utils.ts
Labels: CLA Signed, react core team, beta

#4671 use proper code block
  beta/src/pages/blog/2019/10/22/react-release-channels.md
  content/blog/2019-10-22-react-release-channels.md
  content/docs/add-react-to-a-website.md
  content/docs/release-channels.md
Labels: CLA Signed, beta

#4675 [Beta] Lazy-load linter code
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
  beta/src/components/MDX/Sandpack/Preview.tsx
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
  beta/src/components/MDX/Sandpack/computeViewportSize.ts
  beta/src/components/MDX/Sandpack/createFileMap.ts
  beta/src/components/MDX/Sandpack/index.tsx
  beta/src/components/MDX/Sandpack/runESLint.tsx
  beta/src/components/MDX/Sandpack/useSandpackLint.tsx
  beta/src/components/MDX/Sandpack/utils.ts
Labels: CLA Signed, react core team, beta

#4674 [beta] chore(sandpack): remove unused code
  beta/src/components/MDX/Sandpack/Preview.tsx
  beta/src/components/MDX/Sandpack/computeViewportSize.ts
Labels: CLA Signed, beta

#4673 [beta] fix(eslint): exclude parsing errors
  beta/src/components/MDX/Sandpack/Preview.tsx
  beta/src/components/MDX/Sandpack/runESLint.tsx
  beta/src/components/MDX/Sandpack/useSandpackLint.tsx
Labels: CLA Signed, beta

#4678 [Beta] Load CodeMirror linter plugin lazily
  beta/package.json
  beta/patches/@codesandbox+sandpack-react+0.19.8-experimental.4.patch
  beta/src/components/MDX/Sandpack/useSandpackLint.tsx
  beta/yarn.lock
Labels: CLA Signed, react core team, beta

#4680 [Beta] Update Next and React
  beta/next.config.js
  beta/package.json
  beta/src/components/MDX/Sandpack/DownloadButton.tsx
  beta/yarn.lock
Labels: CLA Signed, react core team, beta

#4682 [Beta] Build for modern browsers
  beta/next.config.js
Labels: CLA Signed, react core team, beta

#4677 [beta] fix console type
  beta/package.json
  beta/patches/@codesandbox+sandpack-client+0.19.8-experimental.0.patch
  beta/src/components/MDX/Sandpack/Console.tsx
  beta/yarn.lock
Labels: CLA Signed, beta

#4687 [Beta] Fix lint re-running every second
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
Labels: CLA Signed

#4688 [Beta] Slightly reduce bundle size
  beta/next.config.js
  beta/src/components/Search.tsx
Labels: CLA Signed, react core team, beta

#4689 [Beta] Enable Selective Hydration in more places
  beta/src/components/Layout/Nav/MobileNav.tsx
  beta/src/components/Layout/Page.tsx
  beta/src/components/Layout/Sidebar/Sidebar.tsx
Labels: CLA Signed, react core team, beta

#4690 [Beta] Remove styled-jsx
  beta/src/components/Layout/Toc.tsx
  beta/src/components/Layout/useTocHighlight.tsx
  beta/src/components/MDX/Heading.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/siteConfig.ts
  beta/src/styles/index.css
Labels: CLA Signed, react core team, beta

#4694 [Beta] Upgrade React Types & Fix resulting type issues
  beta/package.json
  beta/src/components/Layout/useMediaQuery.tsx
  beta/src/components/MDX/Sandpack/DownloadButton.tsx
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
  beta/src/pages/_app.tsx
  beta/src/utils/toCommaSeparatedList.tsx
  beta/yarn.lock
Labels: CLA Signed, beta

#4695 [Beta] Drop next/dynamic usage
  beta/src/components/MDX/Sandpack/index.tsx
Labels: CLA Signed, beta

#4697 Change button text "Click me" to something else
  beta/src/pages/learn/index.md
Labels: CLA Signed, beta

#4699 [Beta] Fix editor re-renders on lint error
  beta/src/components/MDX/Sandpack/Preview.tsx
Labels: CLA Signed, react core team, beta

#4693 Add loading indicator to sidebar links
  beta/src/components/Layout/Sidebar/SidebarLink.tsx
  beta/src/components/Layout/Sidebar/SidebarRouteTree.tsx
  beta/src/hooks/usePendingRoute.ts
Labels: CLA Signed, beta

#4702 [beta] fix(eslint): messages severity
  beta/src/components/MDX/Sandpack/runESLint.tsx
Labels: CLA Signed, beta

#4701 Fixed language error
  beta/src/pages/learn/updating-arrays-in-state.md
Labels: CLA Signed, beta

#4706 docs: fix typos
  beta/src/pages/apis/useref.md
  beta/src/pages/learn/your-first-component.md
Labels: CLA Signed, beta

#4705 [Beta Docs] Add Turborepo to custom toolchains for monorepos.
  beta/src/pages/learn/start-a-new-react-project.md
Labels: CLA Signed, beta

#4712 Update start-a-new-react-project.md
  beta/src/pages/learn/start-a-new-react-project.md
Labels: CLA Signed, beta
