Repository reactjs/react.dev, pull requests merged in 2022-12, with the labels that each got.

#5308 [Beta] Rewrite Suspense API, add useDeferredValue API
  beta/src/content/apis/react/Suspense.md
  beta/src/content/apis/react/useDebugValue.md
  beta/src/content/apis/react/useDeferredValue.md
  beta/src/sidebarAPIs.json
Labels: CLA Signed, react core team, beta

#5298 Update the link to the Node.js stream module
  content/docs/reference-react-dom-server.md
Labels: CLA Signed

#5319 [Beta] Update the bundler
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
Labels: CLA Signed, react core team, beta

#5311 [Beta] useTransition API
  beta/src/content/apis/react/index.md
  beta/src/content/apis/react/useDeferredValue.md
  beta/src/content/apis/react/useState.md
  beta/src/content/apis/react/useTransition.md
  beta/src/sidebarAPIs.json
Labels: CLA Signed, react core team, beta

#5307 fix: correct order of future conference dates content
  content/community/conferences.md
Labels: CLA Signed

#5325 [Beta] useSyncExternalStore API
  beta/src/content/apis/react/Suspense.md
  beta/src/content/apis/react/useSyncExternalStore.md
  beta/src/sidebarAPIs.json
Labels: CLA Signed, react core team, beta

#5318 [Beta] Anchor for individual challenges & deepdive
  beta/src/components/MDX/Challenges/Challenge.tsx
  beta/src/components/MDX/Challenges/Challenges.tsx
  beta/src/components/MDX/ExpandableExample.tsx
Labels: CLA Signed, beta

#5326 [API] Legacy renderTo* SSR methods
  beta/src/content/apis/react-dom/client/createRoot.md
  beta/src/content/apis/react-dom/client/hydrateRoot.md
  beta/src/content/apis/react-dom/server/renderToNodeStream.md
  beta/src/content/apis/react-dom/server/renderToStaticMarkup.md
  beta/src/content/apis/react-dom/server/renderToStaticNodeStream.md
  beta/src/content/apis/react-dom/server/renderToString.md
  beta/src/sidebarAPIs.json
Labels: CLA Signed, react core team, beta

#5327 Add remaining people on updated team pages
  beta/public/images/team/jasonbonta.jpg
  beta/public/images/team/mofei-zhang.png
  beta/public/images/team/seth.jpg
  beta/public/images/team/sophiebits.jpg
  beta/public/images/team/yuzhi.jpg
  beta/src/components/MDX/TeamMember.tsx
  beta/src/content/learn/meet-the-team.md
  content/community/team.md
  content/images/team/jasonbonta.jpg
  content/images/team/mofei-zhang.png
  content/images/team/seth.jpg
  content/images/team/sophiebits.jpg
  content/images/team/yuzhi.jpg
Labels: CLA Signed, react core team, beta

#5331 [Beta] Fix typo in 'Reusing Logic with Custom Hooks' page
  beta/src/content/learn/reusing-logic-with-custom-hooks.md
Labels: beta

#5334 [Beta] Fix a word from useMemo to useCallback
  beta/src/content/apis/react/useCallback.md
Labels: beta

#5346 [Beta] renderToReadableStream API
  beta/src/content/apis/react-dom/server/index.md
  beta/src/content/apis/react-dom/server/renderToPipeableStream.md
  beta/src/content/apis/react-dom/server/renderToReadableStream.md
  beta/src/sidebarAPIs.json
Labels: CLA Signed

#5343 [beta] Fix typo
  beta/src/content/apis/react-dom/hydrate.md
Labels: CLA Signed, beta

#5354 [Beta] startTransition API
  beta/src/content/apis/react/startTransition.md
  beta/src/content/apis/react/useTransition.md
  beta/src/sidebarAPIs.json
Labels: CLA Signed, react core team, beta

#5342 [beta] Fix Chai recipe in docs
  beta/public/images/docs/illustrations/i_puritea-recipe.png
  beta/src/content/learn/keeping-components-pure.md
Labels: CLA Signed, beta

#5281 Fix link to new URL
  content/docs/accessibility.md
  content/docs/portals.md
Labels: CLA Signed

#5356 [Beta] Fixed a dead link in useTransition.md
  beta/src/content/apis/react/useTransition.md
Labels: CLA Signed, beta

#5357 [beta] Add findDOMNode
  beta/src/content/apis/react-dom/findDOMNode.md
  beta/src/sidebarAPIs.json
Labels: CLA Signed, react core team, beta

#5360 [Beta] Fixed Semicolon missing in a code snippet. #5337
  beta/src/content/learn/describing-the-ui.md
  beta/src/content/learn/keeping-components-pure.md
Labels: beta

#5362 [Beta] createPortal API
  beta/src/content/apis/react-dom/createPortal.md
  beta/src/sidebarAPIs.json
Labels: CLA Signed, react core team, beta

#5363 [Beta] Split "Components" and "APIs"
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/content/apis/react/apis.md
  beta/src/content/apis/react/components.md
  beta/src/sidebarAPIs.json
Labels: CLA Signed, react core team, beta

#5364 [Beta] useInsertionEffect API
  beta/src/content/apis/react/useInsertionEffect.md
  beta/src/sidebarAPIs.json
Labels: CLA Signed, react core team, beta

#5368 [Beta] Highlight <Foo> and <foo> differently
  beta/patches/@codemirror+lang-javascript+0.19.6.patch
  beta/patches/@codesandbox+sandpack-react+1.15.5.patch
  beta/patches/@lezer+javascript+0.15.2.patch
  beta/src/components/MDX/CodeBlock/CodeBlock.tsx
Labels: CLA Signed, react core team, beta

#5371 [beta] Fix typo
  beta/src/content/learn/synchronizing-with-effects.md
Labels: beta

#5373 [Beta] useEvent -> useEffectEvent
  beta/package.json
  beta/src/content/apis/react/useEffect.md
  beta/src/content/apis/react/useEffectEvent.md
  beta/src/content/apis/react/useEvent.md
  beta/src/content/learn/removing-effect-dependencies.md
  beta/src/content/learn/reusing-logic-with-custom-hooks.md
  beta/src/content/learn/separating-events-from-effects.md
  beta/yarn.lock
Labels: CLA Signed, react core team, beta

#5375 [Beta] Fix scroll jumps on navigating to fragments
  beta/src/components/MDX/ExpandableExample.tsx
Labels: CLA Signed, react core team, beta

#5389 [Beta] Move search outside tabs
  beta/src/components/Layout/Nav/Nav.tsx
Labels: CLA Signed, react core team, beta

#5388 Adding a minor grammatical correction.
  beta/src/content/apis/react/useEffect.md
Labels: CLA Signed, beta

#5394 Change 'options object' to 'createOptions function'
  beta/src/content/apis/react/useEffect.md
Labels: CLA Signed, beta

#5384 useTransition add semicolon
  content/docs/hooks-reference.md
Labels: CLA Signed

#5392 Making serverUrl a reactive dependency for the provided example.
  beta/src/content/apis/react/useEffect.md
Labels: CLA Signed, beta

#5383 [Beta] react-dom: Components
  beta/src/components/Breadcrumbs.tsx
  beta/src/components/MDX/ConsoleBlock.tsx
  beta/src/components/MDX/Sandpack/Console.tsx
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
  beta/src/content/apis/react-dom/components/common.md
  beta/src/content/apis/react-dom/components/index.md
  beta/src/content/apis/react-dom/components/input.md
  beta/src/content/apis/react-dom/components/option.md
  beta/src/content/apis/react-dom/components/progress.md
  beta/src/content/apis/react-dom/components/select.md
  beta/src/content/apis/react-dom/components/textarea.md
  beta/src/content/learn/manipulating-the-dom-with-refs.md
  beta/src/sidebarAPIs.json
Labels: CLA Signed, react core team, beta

#5352 [beta] Tic-tac-toe tutorial rewrite
  beta/public/images/tutorial/board-filled-with-ones.png
  beta/public/images/tutorial/board-filled-with-value.png
  beta/public/images/tutorial/codesandbox-devtools.png
  beta/public/images/tutorial/devtools-select.gif
  beta/public/images/tutorial/devtools.png
  beta/public/images/tutorial/empty-board.png
  beta/public/images/tutorial/nine-x-filled-squares.png
  beta/public/images/tutorial/number-filled-board.png
  beta/public/images/tutorial/o-replaces-x.gif
  beta/public/images/tutorial/react-starter-code-codesandbox.png
  beta/public/images/tutorial/tictac-adding-x-s.gif
  beta/public/images/tutorial/tictac-empty.png
  beta/public/images/tutorial/tictac-numbers.png
  beta/public/images/tutorial/two-x-filled-squares.png
  beta/public/images/tutorial/x-filled-square.png
  beta/src/content/learn/index.md
  beta/src/content/learn/tutorial-tic-tac-toe.md
  beta/src/sidebarLearn.json
Labels: CLA Signed, beta

#5399 [Beta] Move Reference before Usage
  beta/src/content/apis/react-dom/client/createRoot.md
  beta/src/content/apis/react-dom/client/hydrateRoot.md
  beta/src/content/apis/react-dom/components/common.md
  beta/src/content/apis/react-dom/components/input.md
  beta/src/content/apis/react-dom/components/option.md
  beta/src/content/apis/react-dom/components/progress.md
  beta/src/content/apis/react-dom/components/select.md
  beta/src/content/apis/react-dom/components/textarea.md
  beta/src/content/apis/react-dom/createPortal.md
  beta/src/content/apis/react-dom/findDOMNode.md
  beta/src/content/apis/react-dom/flushSync.md
  beta/src/content/apis/react-dom/hydrate.md
  beta/src/content/apis/react-dom/render.md
  beta/src/content/apis/react-dom/server/renderToNodeStream.md
  beta/src/content/apis/react-dom/server/renderToPipeableStream.md
  beta/src/content/apis/react-dom/server/renderToReadableStream.md
  beta/src/content/apis/react-dom/server/renderToStaticMarkup.md
  beta/src/content/apis/react-dom/server/renderToStaticNodeStream.md
  beta/src/content/apis/react-dom/server/renderToString.md
  beta/src/content/apis/react-dom/unmountComponentAtNode.md
  beta/src/content/apis/react/Children.md
  beta/src/content/apis/react/Component.md
  beta/src/content/apis/react/Fragment.md
  beta/src/content/apis/react/Profiler.md
  beta/src/content/apis/react/PureComponent.md
  beta/src/content/apis/react/StrictMode.md
  beta/src/content/apis/react/Suspense.md
  beta/src/content/apis/react/cloneElement.md
  beta/src/content/apis/react/createContext.md
  beta/src/content/apis/react/createElement.md
  beta/src/content/apis/react/createFactory.md
  beta/src/content/apis/react/createRef.md
  beta/src/content/apis/react/forwardRef.md
  beta/src/content/apis/react/isValidElement.md
  beta/src/content/apis/react/lazy.md
  beta/src/content/apis/react/memo.md
  beta/src/content/apis/react/startTransition.md
  beta/src/content/apis/react/useCallback.md
  beta/src/content/apis/react/useContext.md
  beta/src/content/apis/react/useDebugValue.md
  beta/src/content/apis/react/useDeferredValue.md
  beta/src/content/apis/react/useEffect.md
  beta/src/content/apis/react/useId.md
  beta/src/content/apis/react/useImperativeHandle.md
  beta/src/content/apis/react/useInsertionEffect.md
  beta/src/content/apis/react/useLayoutEffect.md
  beta/src/content/apis/react/useMemo.md
  beta/src/content/apis/react/useReducer.md
  beta/src/content/apis/react/useRef.md
  beta/src/content/apis/react/useState.md
  beta/src/content/apis/react/useSyncExternalStore.md
  beta/src/content/apis/react/useTransition.md
Labels: CLA Signed, react core team, beta

#5401 fix(typos): some small typos
  beta/src/content/learn/rendering-lists.md
Labels: CLA Signed, beta

#5402 [Beta] Sidebar groups
  beta/src/components/Layout/Nav/Nav.tsx
  beta/src/components/Layout/Sidebar/SidebarRouteTree.tsx
  beta/src/components/Layout/useRouteMeta.tsx
  beta/src/components/MDX/HomepageHero.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/components/Search.tsx
  beta/src/content/index.md
  beta/src/content/learn/meet-the-team.md
  beta/src/content/reference/react-dom/client/index.md
  beta/src/content/reference/react-dom/components/index.md
  beta/src/content/reference/react-dom/index.md
  beta/src/content/reference/react-dom/server/index.md
  beta/src/content/reference/react/apis.md
  beta/src/content/reference/react/components.md
  beta/src/content/reference/react/index.md
  beta/src/content/reference/react/legacy.md
  beta/src/sidebarLearn.json
  beta/src/sidebarReference.json
Labels: CLA Signed, react core team, beta

#5404 Fixed property "value" typo'd as "values"
  beta/src/content/learn/tutorial-tic-tac-toe.md
Labels: CLA Signed, beta

#5406 Minor grammatical correction
  beta/src/content/reference/react/useImperativeHandle.md
Labels: CLA Signed, beta

#5413 [Beta] Fixes typo in editor-setup page
  beta/src/content/learn/editor-setup.md
Labels: CLA Signed, beta

#5411 Fixes a typo
  beta/src/content/reference/react/Suspense.md
Labels: CLA Signed, beta

#5407 Minor grammatical correction
  beta/src/content/reference/react/useImperativeHandle.md
Labels: CLA Signed, beta

#5403 error with path
  beta/src/sidebarReference.json
Labels: CLA Signed, beta

#5415 fix(typo): add missing closing character
  beta/src/content/learn/responding-to-events.md
Labels: CLA Signed, beta
