Repository reactjs/react.dev, pull requests merged in 2022-04, with the labels that each got.

#4536 reword challenge 2
  beta/src/pages/learn/choosing-the-state-structure.md
Labels: CLA Signed, beta

#4537 Change redirect from WG post to the blog
  vercel.json
Labels: CLA Signed, react core team

#4539 Added React Day Bangalore 2022
  content/community/conferences.md
Labels: CLA Signed

#4538 Update Prerequisites nodejs version
  content/docs/how-to-contribute.md
Labels: CLA Signed

#4542 Add call to action to 18 blog post
  content/blog/2022-03-29-react-v18.md
Labels: CLA Signed, react core team

#4502 Fix grammar
  beta/src/pages/learn/rendering-lists.md
Labels: CLA Signed, beta

#4544 docs: Add React Finland 2022
  content/community/conferences.md
Labels: CLA Signed

#4546 moved Amsterdam react conference to past conferences
  content/community/conferences.md
Labels: CLA Signed

#4549 fix babel url version
  beta/src/pages/learn/add-react-to-a-website.md
Labels: CLA Signed, beta

#4556 Update historical Concurrent Mode pages
  content/docs/concurrent-mode-adoption.md
  content/docs/concurrent-mode-intro.md
  content/docs/concurrent-mode-patterns.md
  content/docs/concurrent-mode-reference.md
  content/docs/concurrent-mode-suspense.md
Labels: CLA Signed, react core team

#4557 Document useId is not for keys
  content/blog/2022-03-29-react-v18.md
  content/docs/hooks-reference.md
Labels: CLA Signed, react core team

#4558 Edits for ReactDOMServer API
  content/docs/reference-react-dom-server.md
Labels: CLA Signed, react core team

#4559 Add more details on batching
  content/docs/hooks-reference.md
  content/docs/reference-react-component.md
  content/docs/reference-react-dom.md
Labels: CLA Signed, react core team

#4562 renderToReadableStream: Ensure same var name is used in `onError`
  content/docs/reference-react-dom-server.md
Labels: CLA Signed

#4567 Mention TypeScript in the upgrade post
  content/blog/2022-03-08-react-18-upgrade-guide.md
Labels: CLA Signed, react core team

#4570 fix typo "sever" on reference-react-dom-server.md
  content/docs/reference-react-dom-server.md
Labels: CLA Signed

#4571 fix the code block for AppWithCallbackAfterRender
  content/blog/2022-03-08-react-18-upgrade-guide.md
Labels: CLA Signed

#4576 fix the code block for createRoot typescript error
  content/blog/2022-03-08-react-18-upgrade-guide.md
Labels: CLA Signed

#4165 add crypto.randomUUID as source of keys
  beta/src/pages/learn/rendering-lists.md
Labels: type: documentation, CLA Signed, beta

#4589 Add React Norway to upcoming conferences
  content/community/conferences.md
Labels: CLA Signed

#4585 Fix "Integrating with Other View Libraries"
  content/docs/integrating-with-other-libraries.md
Labels: CLA Signed

#4593 Update conferences.md
  content/community/conferences.md
Labels: CLA Signed

#4600 Fix behavior of renderToStaticMarkup
  content/blog/2022-03-08-react-18-upgrade-guide.md
Labels: CLA Signed

#4598 Replaced old ReactDOM API with new React v18 API
  content/docs/conditional-rendering.md
Labels: CLA Signed

#4607 Update more examples for 18
  content/docs/add-react-to-a-website.md
  content/docs/components-and-props.md
  content/docs/error-boundaries.md
  content/docs/integrating-with-other-libraries.md
  content/versions.yml
  examples/context/theme-detailed-app.js
  examples/context/updating-nested-context-app.js
  examples/hello-world.js
  examples/introducing-jsx.js
  examples/rendering-elements/render-an-element.js
  examples/uncontrolled-components/input-type-file.js
Labels: CLA Signed, react core team
