Repository reactjs/react.dev, pull requests merged in 2023-01, with the labels that each got.

#5429 [beta] Fix inconsistent anchor link on `flushSync` page
  beta/src/content/reference/react-dom/flushSync.md
Labels: CLA Signed, react core team, beta

#5436 Fix typo in tutorial-tic-tac-toe.md
  beta/src/content/learn/tutorial-tic-tac-toe.md
Labels: CLA Signed, beta

#5438 Fix typo in tutorial-tic-tac-toe.md
  beta/src/content/learn/tutorial-tic-tac-toe.md
Labels: beta

#5437 Fix for ReactDOM.createRoot() example
  beta/src/content/reference/react-dom/client/createRoot.md
Labels: CLA Signed, beta

#5442 [Beta] Add missing imports to ref pages
  beta/src/content/reference/react-dom/client/hydrateRoot.md
  beta/src/content/reference/react-dom/components/common.md
  beta/src/content/reference/react-dom/components/option.md
  beta/src/content/reference/react-dom/components/progress.md
  beta/src/content/reference/react-dom/findDOMNode.md
  beta/src/content/reference/react-dom/flushSync.md
  beta/src/content/reference/react-dom/hydrate.md
  beta/src/content/reference/react-dom/render.md
  beta/src/content/reference/react-dom/server/renderToNodeStream.md
  beta/src/content/reference/react-dom/server/renderToPipeableStream.md
  beta/src/content/reference/react-dom/server/renderToReadableStream.md
  beta/src/content/reference/react-dom/server/renderToStaticMarkup.md
  beta/src/content/reference/react-dom/server/renderToStaticNodeStream.md
  beta/src/content/reference/react-dom/server/renderToString.md
  beta/src/content/reference/react-dom/unmountComponentAtNode.md
  beta/src/content/reference/react/createContext.md
  beta/src/content/reference/react/createFactory.md
  beta/src/content/reference/react/createRef.md
  beta/src/content/reference/react/forwardRef.md
  beta/src/content/reference/react/lazy.md
  beta/src/content/reference/react/memo.md
  beta/src/content/reference/react/startTransition.md
  beta/src/content/reference/react/useInsertionEffect.md
  beta/src/content/reference/react/useRef.md
Labels: CLA Signed, react core team, beta

#5445 Add missing X in starter tic-tac-toe Square component
  beta/src/content/learn/tutorial-tic-tac-toe.md
Labels: CLA Signed, beta

#5450 Fix typos in Suspense.md, useDeferredValue.md & useTransition.md
  beta/src/content/reference/react/Suspense.md
  beta/src/content/reference/react/useDeferredValue.md
  beta/src/content/reference/react/useTransition.md
Labels: CLA Signed, beta

#5449 fix link
  beta/src/content/index.md
Labels: CLA Signed, beta

#5433 Strict Mode: Fix Typo
  content/docs/strict-mode.md
Labels: CLA Signed

#5462 Update poteto description
  beta/src/content/learn/meet-the-team.md
  content/community/team.md
Labels: CLA Signed, react core team, beta

#5461 Update broken link in "Synchronizing with effects"
  beta/src/content/learn/synchronizing-with-effects.md
Labels: CLA Signed, beta

#5492 [Beta] Refactor navigation logic
  beta/src/components/Breadcrumbs.tsx
  beta/src/components/DocsFooter.tsx
  beta/src/components/Layout/MarkdownPage.tsx
  beta/src/components/Layout/Nav/Nav.tsx
  beta/src/components/Layout/Page.tsx
  beta/src/components/Layout/Sidebar/SidebarRouteTree.tsx
  beta/src/components/Layout/getRouteMeta.tsx
  beta/src/components/PageHeading.tsx
  beta/src/components/Tag.tsx
  beta/src/hooks/useActiveSection.ts
  beta/src/hooks/usePathWithoutQuerystring.ts
  beta/src/pages/404.js
  beta/src/pages/500.js
  beta/src/pages/[[...markdownPath]].js
Labels: CLA Signed, react core team, beta

#5494 [Beta] Community MVP
  beta/src/components/Layout/Footer.tsx
  beta/src/content/blog/2021/12/17/react-conf-2021-recap.md
  beta/src/content/blog/2022/03/29/react-v18.md
  beta/src/content/community/acknowledgements.md
  beta/src/content/community/conferences.md
  beta/src/content/community/docs-contributors.md
  beta/src/content/community/index.md
  beta/src/content/community/meetups.md
  beta/src/content/community/team.md
  beta/src/content/community/versioning-policy.md
  beta/src/content/community/videos.md
  beta/src/sidebarLearn.json
  beta/vercel.json
Labels: CLA Signed, react core team, beta

#5495 Link to beta in content
  content/docs/components-and-props.md
  content/docs/conditional-rendering.md
  content/docs/context.md
  content/docs/forms.md
  content/docs/forwarding-refs.md
  content/docs/getting-started.md
  content/docs/handling-events.md
  content/docs/hooks-custom.md
  content/docs/hooks-effect.md
  content/docs/hooks-reference.md
  content/docs/hooks-state.md
  content/docs/introducing-jsx.md
  content/docs/lifting-state-up.md
  content/docs/lists-and-keys.md
  content/docs/portals.md
  content/docs/reconciliation.md
  content/docs/reference-dom-elements.md
  content/docs/reference-events.md
  content/docs/reference-react-component.md
  content/docs/reference-react-dom-client.md
  content/docs/reference-react-dom-server.md
  content/docs/reference-react-dom.md
  content/docs/reference-react.md
  content/docs/refs-and-the-dom.md
  content/docs/state-and-lifecycle.md
  content/docs/strict-mode.md
  content/docs/thinking-in-react.md
  content/docs/uncontrolled-components.md
  content/tutorial/tutorial.md
Labels: CLA Signed, react core team

#5458 Update tutorial-tic-tac-toe.md
  beta/src/content/learn/tutorial-tic-tac-toe.md
Labels: CLA Signed, beta

#5499 [Beta] Simplify Immer installation guide
  beta/src/content/learn/updating-objects-in-state.md
Labels: CLA Signed, beta

#5500 [Beta] Responsive iframes
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/content/blog/2020/12/21/data-fetching-with-react-server-components.md
  beta/src/content/blog/2021/12/17/react-conf-2021-recap.md
  beta/src/content/community/videos.md
  beta/src/content/learn/responding-to-events.md
  beta/src/content/learn/writing-markup-with-jsx.md
Labels: CLA Signed, react core team, beta

#5503 Fix typo on useSyncExternalStore page
  beta/src/content/reference/react/useSyncExternalStore.md
Labels: beta

#5510 fix(typos): remove misplaced word
  beta/src/content/learn/removing-effect-dependencies.md
Labels: CLA Signed, beta

#5507 fix(typos): place word in the correct place
  beta/src/content/learn/removing-effect-dependencies.md
Labels: CLA Signed, beta

#5515 docs(tutorial-tic-tac-toe.md): fix typos
  beta/src/content/learn/tutorial-tic-tac-toe.md
Labels: CLA Signed, beta

#5502 [beta] Update reference Profiler.md
  beta/src/content/reference/react/Profiler.md
Labels: CLA Signed, beta

#5529 Update conference lists for beta docs
  beta/src/content/community/conferences.md
Labels: CLA Signed, beta

#5525 Announce react india 2023 conference dates
  content/community/conferences.md
Labels: CLA Signed
