Repository reactjs/react.dev, pull requests merged in 2023-03, with the labels that each got.

#5641 Add React Norway to events pages
  beta/src/content/community/conferences.md
  content/community/conferences.md
Labels: CLA Signed, beta

#5646 (tic-tac-toe) fix or-and in sentence
  beta/src/content/learn/tutorial-tic-tac-toe.md
Labels: CLA Signed, beta

#5624 Update react-redux connect documentation link on HOC page to updated react redux docs
  content/docs/higher-order-components.md
Labels: CLA Signed

#5658 Update team page
  beta/public/images/team/mengdi-chen.jpg
  beta/src/content/community/team.md
Labels: CLA Signed, react core team, beta

#5661 Docs: Fix `useEffect` link typo in `react/useLayoutEffect.md`
  beta/src/content/reference/react/useLayoutEffect.md
Labels: CLA Signed, beta

#5666 chore: update text color of console text in console block
  beta/src/components/MDX/ConsoleBlock.tsx
Labels: CLA Signed, beta

#5665 missing word: "in"
  beta/src/content/learn/conditional-rendering.md
Labels: CLA Signed, beta

#5660 Fix a misleading style in the example
  beta/src/content/learn/javascript-in-jsx-with-curly-braces.md
Labels: CLA Signed, beta

#5615 Update conferences.md (beta docs)
  beta/src/content/community/conferences.md
Labels: CLA Signed, beta

#5613 Update conferences.md
  content/community/conferences.md
Labels: CLA Signed

#5676 Fix typo in useCallback example
  beta/src/content/reference/react/useCallback.md
Labels: beta

#5679 Fix typo from componentDidcatch to componentDidCatch (issue #5678)
  beta/src/content/reference/react/Component.md
Labels: CLA Signed, beta

#5699 Update team page
  beta/public/images/team/andrey-lunyov.jpg
  beta/public/images/team/dave-mccabe.jpg
  beta/public/images/team/eli-white.jpg
  beta/public/images/team/kathryn-middleton.jpg
  beta/public/images/team/luna-wei.jpg
  beta/public/images/team/matt-carroll.png
  beta/public/images/team/sean-keegan.jpg
  beta/src/content/community/team.md
Labels: CLA Signed, react core team, beta

#5703 Update conferences.md - React Miami
  content/community/conferences.md
Labels: CLA Signed

#5704 Update conferences.md - React Miami
  beta/src/content/community/conferences.md
Labels: CLA Signed, beta

#5708 chore: change create root link to correct link
  beta/src/content/reference/react/StrictMode.md
Labels: CLA Signed, beta

#5720 chore: fix footer "Community" link
  beta/src/components/Layout/Footer.tsx
Labels: CLA Signed, beta

#5711 docs: changed useEffect example
  beta/src/content/learn/synchronizing-with-effects.md
Labels: CLA Signed, beta

#5669 missing word: of
  beta/src/content/learn/responding-to-events.md
Labels: CLA Signed, beta

#5656 Update useCallback.md - rename ShoppingForm to ShippingForm
  beta/src/content/reference/react/useCallback.md
Labels: CLA Signed, beta

#5697 Update GitNation React conferences
  content/community/conferences.md
Labels: CLA Signed

#5718 Update GitNation React conferences in new docs
  beta/src/content/community/conferences.md
Labels: CLA Signed, beta

#5737 Display ctrl key in search bar for non-mac browsers
  beta/src/components/Search.tsx
  beta/src/pages/_document.tsx
  beta/src/styles/index.css
Labels: CLA Signed, beta

#5721 Improve anchor link
  beta/src/styles/index.css
Labels: CLA Signed, beta

#5748 chore: remove labeler
  .github/workflows/label.yml
Labels: CLA Signed

#5769 Fix GA for first page view
  src/pages/_app.tsx
Labels: CLA Signed, react core team

#5776 Replace deprecated command with environment file
  .github/workflows/analyze_comment.yml
Labels: CLA Signed

#5766 fix: fix broken link in cloneElement.md
  src/content/reference/react/cloneElement.md
Labels: CLA Signed

#5777 Misc Footer fixes
  src/components/Layout/Footer.tsx
  src/components/Layout/Page.tsx
  src/components/Layout/getRouteMeta.tsx
Labels: CLA Signed, react core team

#5763 Add React On The Beach to the list of conferences.
  src/content/community/conferences.md
Labels: CLA Signed

#5778 Disconnect sidebar scroll behaviors
  src/components/Layout/SidebarNav/SidebarNav.tsx
  src/components/Layout/Toc.tsx
Labels: CLA Signed, react core team

#5771 Wrong link fix - #5770
  src/content/reference/react/startTransition.md
Labels: CLA Signed

#5767 FIX: Use `typos` tool to detect various (`~20`) typos across `react.dev` codebase ✨ :)
  src/components/MDX/CodeBlock/CodeBlock.tsx
  src/content/learn/escape-hatches.md
  src/content/learn/lifecycle-of-reactive-effects.md
  src/content/learn/removing-effect-dependencies.md
  src/content/learn/reusing-logic-with-custom-hooks.md
  src/content/learn/separating-events-from-effects.md
  src/content/reference/react-dom/components/select.md
  src/content/reference/react-dom/createPortal.md
  src/content/reference/react-dom/server/renderToPipeableStream.md
  src/content/reference/react-dom/server/renderToReadableStream.md
  src/content/reference/react/useEffect.md
Labels: CLA Signed

#5765 fix toc to highlight the correct header on click
  src/components/Layout/useTocHighlight.tsx
Labels: CLA Signed

#5760 fix: grammar error
  src/content/learn/separating-events-from-effects.md
Labels: CLA Signed

#5762 docs: Disable lint in Code Example Preview unblock user from seeing initial UI
  src/content/learn/removing-effect-dependencies.md
Labels: CLA Signed

#5768 FIX: Various (`~10`) `href`s - `beta.reactjs.org` -> `react.dev` 🔗
  src/content/blog/2021/12/17/react-conf-2021-recap.md
  src/content/blog/2022/06/15/react-labs-what-we-have-been-working-on-june-2022.md
  src/content/community/videos.md
  src/content/learn/render-and-commit.md
  src/content/reference/react/Fragment.md
  src/pages/404.js
  src/pages/500.js
  src/siteConfig.ts
Labels: CLA Signed

#5695 Update meetups.md
  src/content/community/meetups.md
Labels: CLA Signed

#5786 Fix to pass unused handleClick to chart component
  src/content/reference/react/useCallback.md
Labels: CLA Signed

#5791 docs: Remove `serverUrl` in code example
  src/content/learn/lifecycle-of-reactive-effects.md
Labels: CLA Signed

#5794 Fix search modal not disappearing on Enter
  src/components/Layout/TopNav/TopNav.tsx
  src/components/Search.tsx
Labels: CLA Signed, react core team

#5798 Add React Labs March 2023 blog post
  src/content/blog/2023/03/22/react-labs-what-we-have-been-working-on-march-2023.md
  src/content/blog/index.md
  src/sidebarBlog.json
Labels: CLA Signed, react core team

#5803 Added missing roomId prop to useEffect docs
  src/content/reference/react/useEffect.md
Labels: CLA Signed

#5804 Remove `import React` for consistency
  src/content/learn/rendering-lists.md
Labels: CLA Signed

#5807 Update "top level" language to be less ambiguous with "levelContext"
  src/content/learn/passing-data-deeply-with-context.md
Labels: CLA Signed

#5787 fix(docs): small typos
  src/content/learn/manipulating-the-dom-with-refs.md
  src/content/learn/synchronizing-with-effects.md
Labels: CLA Signed

#5814 Resolved the Tailwind CSS conflicts
  src/components/Layout/HomeContent.js
  src/components/Layout/SidebarNav/SidebarNav.tsx
Labels: CLA Signed

#5813 Docs: Remove superfluous word 'like'
  src/content/learn/synchronizing-with-effects.md
Labels: CLA Signed

#5823 Add useState semicolon
  src/content/reference/react/useState.md
Labels: CLA Signed

#5827 Fix typo: missing `reactNode` in `hydrateRoot.md`
  src/content/reference/react-dom/client/hydrateRoot.md
Labels: CLA Signed

#5837 Docs: Update sentence about Next.js static export
  src/content/learn/start-a-new-react-project.md
Labels: CLA Signed

#5835 chore: update bundlerUrl
  src/components/MDX/Sandpack/SandpackRoot.tsx
Labels: CLA Signed

#5839 chore: use default parameters replace defaultProps
  src/components/Button.tsx
  src/components/MDX/ExpandableCallout.tsx
Labels: CLA Signed

#5841 Add more fonts
  src/components/Layout/Page.tsx
  src/components/Seo.tsx
  src/pages/_document.tsx
  src/styles/index.css
Labels: CLA Signed, react core team

#5852 Adding Conference - Chain React 2023 - Portland, USA
  src/content/community/conferences.md
Labels: CLA Signed
